In [ ]:
import geopandas as gpd
import numpy as np
import pandas as pd

Синтез TGR на основе типа индустрии и количества рабочих мест для 10% предприятий

In [24]:
zones = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/TAZ_final.geojson")
zones

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,population_availability,workers_availability,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,5.241083,2.463974,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,4.892252,2.386894,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,4.760366,2.351703,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,4.804614,2.364015,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,6.456608,2.789124,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,4.291921,2.221195,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,4.515939,2.286350,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,5.810754,3.120476,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,4.074374,2.930219,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,5.342491,2.495559,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [25]:
businesses = gpd.read_file(
    "C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/buildings_with_workers.geojson")

In [26]:
businesses_zones = pd.merge(businesses, zones, left_on='block_id', right_on='id', how='left')
businesses_zones

,id_x,function,is_living,storeys_count,basement_area,block_id,industry,total_area,workers_x,geometry_x,...,industrial,retail,service,work_area,living_area,workers_y,population,population_availability,workers_availability,geometry_y
0,4669322,yes,False,1,694.450,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",...,0.998556,0.000000,0.001444,206646.662,0.0,4848,0,4.152758,2.321604,"POLYGON ((56.15531 57.88344, 56.15533 57.88344..."
1,79882759,yes,False,1,214.784,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",...,0.888674,0.046569,0.064757,333747.841,0.0,7752,0,4.710778,2.383966,"POLYGON ((56.34256 58.09783, 56.34256 58.09784..."
2,79882837,office,False,2,776.034,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",...,0.888674,0.046569,0.064757,333747.841,0.0,7752,0,4.710778,2.383966,"POLYGON ((56.34256 58.09783, 56.34256 58.09784..."
3,79883190,yes,False,1,189.197,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",...,0.888674,0.046569,0.064757,333747.841,0.0,7752,0,4.710778,2.383966,"POLYGON ((56.34256 58.09783, 56.34256 58.09784..."
4,89185196,industrial,False,1,450.628,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",...,0.801968,0.000000,0.198032,113678.221,5488.0,3151,214,4.979759,2.434761,"POLYGON ((56.05496 58.02391, 56.05494 58.02391..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,yes,False,1,1218.829,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",...,1.000000,0.000000,0.000000,165426.639,0.0,3961,0,4.672042,2.437900,"POLYGON ((56.14728 57.91902, 56.14727 57.91902..."
8439,1148104875,yes,False,1,107.470,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",...,0.941292,0.000000,0.058708,412150.745,0.0,10714,0,4.441204,2.392340,"POLYGON ((56.12247 57.90545, 56.12245 57.90546..."
8440,1148419580,office,False,4,624.885,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",...,0.773616,0.000000,0.226384,27505.990,0.0,614,0,4.208105,2.329820,"POLYGON ((56.15566 57.88340, 56.15565 57.88341..."
8441,1148746841,industrial,False,1,188.391,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",...,0.941292,0.000000,0.058708,412150.745,0.0,10714,0,4.441204,2.392340,"POLYGON ((56.12247 57.90545, 56.12245 57.90546..."
8442,1149034816,industrial,False,1,516.981,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",...,0.998556,0.000000,0.001444,206646.662,0.0,4848,0,4.152758,2.321604,"POLYGON ((56.15531 57.88344, 56.15533 57.88344..."

In [27]:
businesses_zones = businesses_zones[
    ['id_x', 'block_id', 'industry', 'total_area', 'workers_x', 'geometry_x', 'landuse', 'industrial', 'retail',
     'service', 'population_availability', 'workers_availability']]
businesses_zones

,id_x,block_id,industry,total_area,workers_x,geometry_x,landuse,industrial,retail,service,population_availability,workers_availability
0,4669322,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604
1,79882759,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
2,79882837,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
3,79883190,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
4,89185196,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",industrial,0.801968,0.000000,0.198032,4.979759,2.434761
...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",industrial,1.000000,0.000000,0.000000,4.672042,2.437900
8439,1148104875,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340
8440,1148419580,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,0.773616,0.000000,0.226384,4.208105,2.329820
8441,1148746841,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340
8442,1149034816,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604

In [28]:
businesses_zones = businesses_zones.rename(columns={'id_x': 'id'})
businesses_zones = businesses_zones.rename(columns={'workers_x': 'workers'})
businesses_zones = businesses_zones.rename(columns={'geometry_x': 'geometry'})
businesses_zones

,id,block_id,industry,total_area,workers,geometry,landuse,industrial,retail,service,population_availability,workers_availability
0,4669322,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604
1,79882759,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
2,79882837,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
3,79883190,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966
4,89185196,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",industrial,0.801968,0.000000,0.198032,4.979759,2.434761
...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",industrial,1.000000,0.000000,0.000000,4.672042,2.437900
8439,1148104875,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340
8440,1148419580,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,0.773616,0.000000,0.226384,4.208105,2.329820
8441,1148746841,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340
8442,1149034816,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604

In [29]:
businesses_zones['employment_share'] = 0.0  # Инициализируем нулями

# Определяем условия для присвоения значений
conditions = [
    (businesses_zones['industry'] == 'industrial'),
    (businesses_zones['industry'] == 'retail'),
    (businesses_zones['industry'] == 'service')
]

# Значения для присвоения в соответствии с условиями
values = [
    businesses_zones['industrial'],
    businesses_zones['retail'],
    businesses_zones['service']
]

businesses_zones['employment_share'] = np.select(conditions, values, default=0.0)
businesses_zones

,id,block_id,industry,total_area,workers,geometry,landuse,industrial,retail,service,population_availability,workers_availability,employment_share
0,4669322,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604,0.998556
1,79882759,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674
2,79882837,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.064757
3,79883190,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674
4,89185196,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",industrial,0.801968,0.000000,0.198032,4.979759,2.434761,0.801968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",industrial,1.000000,0.000000,0.000000,4.672042,2.437900,1.000000
8439,1148104875,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340,0.058708
8440,1148419580,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,0.773616,0.000000,0.226384,4.208105,2.329820,0.226384
8441,1148746841,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340,0.941292
8442,1149034816,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604,0.998556

In [30]:
businesses_tour_numbers = businesses_zones
businesses_tour_numbers['tours'] = np.nan

# Выбираем случайные предприятия с учетом их доли занятости
total_employment = businesses_zones['workers'].sum()
target_employment = 0.1 * total_employment

# Выбираем случайные предприятия
selected_enterprises = businesses_zones.sample(frac=target_employment / total_employment)

# Задаем диапазоны для генерации общего количества туров в зависимости от индустрии
ranges = {
    'retail': (0.1, 0.16),
    'industrial': (0.03, 0.05),
    'service': (0.01, 0.03)
}

# Генерируем общее количество туров для каждого выбранного предприятия
for index, enterprise in selected_enterprises.iterrows():
    industry = enterprise['industry']
    range_min, range_max = ranges[industry]

    # Генерируем случайное количество туров
    tours = np.random.uniform(range_min, range_max) * enterprise['workers']

    businesses_tour_numbers.at[index, 'tours'] = int(tours)

businesses_tour_numbers

,id,block_id,industry,total_area,workers,geometry,landuse,industrial,retail,service,population_availability,workers_availability,employment_share,tours
0,4669322,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604,0.998556,NaN
1,79882759,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN
2,79882837,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.064757,NaN
3,79883190,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN
4,89185196,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",industrial,0.801968,0.000000,0.198032,4.979759,2.434761,0.801968,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",industrial,1.000000,0.000000,0.000000,4.672042,2.437900,1.000000,NaN
8439,1148104875,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340,0.058708,NaN
8440,1148419580,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,0.773616,0.000000,0.226384,4.208105,2.329820,0.226384,NaN
8441,1148746841,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,0.941292,0.000000,0.058708,4.441204,2.392340,0.941292,NaN
8442,1149034816,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,0.998556,0.000000,0.001444,4.152758,2.321604,0.998556,NaN

In [31]:
businesses_tour_numbers.replace(0, np.nan, inplace=True)

In [32]:
businesses_tour_numbers['tours'].sum()

1565.0

In [33]:
businesses_zones['TGR'] = businesses_zones['tours'] / businesses_zones['workers']
businesses_zones

,id,block_id,industry,total_area,workers,geometry,landuse,industrial,retail,service,population_availability,workers_availability,employment_share,tours,TGR
0,4669322,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57...",industrial,0.998556,NaN,0.001444,4.152758,2.321604,0.998556,NaN,NaN
1,79882759,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN,NaN
2,79882837,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.064757,NaN,NaN
3,79883190,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58...",industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN,NaN
4,89185196,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58...",industrial,0.801968,NaN,0.198032,4.979759,2.434761,0.801968,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",industrial,1.000000,NaN,NaN,4.672042,2.437900,1.000000,NaN,NaN
8439,1148104875,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",industrial,0.941292,NaN,0.058708,4.441204,2.392340,0.058708,NaN,NaN
8440,1148419580,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,0.773616,NaN,0.226384,4.208105,2.329820,0.226384,NaN,NaN
8441,1148746841,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,0.941292,NaN,0.058708,4.441204,2.392340,0.941292,NaN,NaN
8442,1149034816,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,0.998556,NaN,0.001444,4.152758,2.321604,0.998556,NaN,NaN

In [35]:
businesses_zones.to_file('data/tour_numbers_syntetic.geojson', driver='GeoJSON')

СИНТЕЗ ЧАСОВ ОТПРАВЛЕНИЙ НА ОСНОВЕ ОДНОГО ИССЛЕДОВАНИЯ ДЛЯ СГЕНЕРИРОВАННОГО СПИСКА ТУРОВ

In [5]:
tours_synthetic = gpd.read_file(
    "C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/tour_numbers_syntetic.geojson")
tours_synthetic

,id,block_id,industry,total_area,workers,landuse,industrial,retail,service,population_availability,workers_availability,employment_share,tours,TGR,geometry
0,4669322,275,industrial,694.450,41,industrial,0.998556,NaN,0.001444,4.152758,2.321604,0.998556,NaN,NaN,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57..."
1,79882759,752,industrial,214.784,9,industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN,NaN,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58..."
2,79882837,752,service,1552.068,72,industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.064757,NaN,NaN,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58..."
3,79883190,752,industrial,189.197,8,industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,NaN,NaN,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58..."
4,89185196,943,industrial,450.628,19,industrial,0.801968,NaN,0.198032,4.979759,2.434761,0.801968,NaN,NaN,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,649,industrial,1218.829,35,industrial,1.000000,NaN,NaN,4.672042,2.437900,1.000000,NaN,NaN,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57..."
8439,1148104875,274,service,107.470,2,industrial,0.941292,NaN,0.058708,4.441204,2.392340,0.058708,NaN,NaN,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57..."
8440,1148419580,276,service,2499.540,67,industrial,0.773616,NaN,0.226384,4.208105,2.329820,0.226384,NaN,NaN,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57..."
8441,1148746841,274,industrial,188.391,6,industrial,0.941292,NaN,0.058708,4.441204,2.392340,0.941292,NaN,NaN,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57..."
8442,1149034816,275,industrial,516.981,18,industrial,0.998556,NaN,0.001444,4.152758,2.321604,0.998556,NaN,NaN,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57..."

In [6]:
tours_synthetic = tours_synthetic.dropna(subset=['tours'])
tours_synthetic

,id,block_id,industry,total_area,workers,landuse,industrial,retail,service,population_availability,workers_availability,employment_share,tours,TGR,geometry
16,206819075,324,industrial,1039.479,60,residential,0.865545,0.103314,0.031142,6.314141,2.824434,0.865545,2.0,0.033333,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57..."
23,698090257,1884,industrial,21594.268,1012,industrial,0.944083,0.007917,0.048000,5.604110,2.824705,0.944083,37.0,0.036561,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58..."
28,710506739,274,industrial,1082.080,59,industrial,0.941292,NaN,0.058708,4.441204,2.392340,0.941292,2.0,0.033898,"MULTIPOLYGON (((56.13594 57.92199, 56.13560 57..."
58,1099979600,752,industrial,962.597,37,industrial,0.888674,0.046569,0.064757,4.710778,2.383966,0.888674,1.0,0.027027,"MULTIPOLYGON (((56.34479 58.08673, 56.34490 58..."
80,2194005,410,service,12325.055,287,residential,0.019342,0.083172,0.897485,6.304679,2.803704,0.897485,6.0,0.020906,"MULTIPOLYGON (((56.23966 57.98813, 56.23986 57..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8256,1055221756,2237,industrial,1232.456,29,industrial,0.758065,0.211485,0.030451,5.490278,2.761119,0.758065,1.0,0.034483,"MULTIPOLYGON (((56.25706 57.96640, 56.25750 57..."
8278,1097680915,52,retail,785.667,20,industrial,0.765074,0.202428,0.032498,5.232586,2.547181,0.202428,2.0,0.100000,"MULTIPOLYGON (((56.20571 58.03226, 56.20585 58..."
8320,1103860108,209,service,4508.136,110,industrial,0.943292,NaN,0.056708,5.036346,2.504850,0.056708,3.0,0.027273,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58..."
8398,1136615387,943,industrial,2367.608,51,industrial,0.801968,NaN,0.198032,4.979759,2.434761,0.801968,1.0,0.019608,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58..."
8434,1147236714,294,service,3158.331,74,industrial,0.891762,0.001600,0.106638,4.802194,2.488054,0.106638,1.0,0.013514,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57..."

In [7]:
tours_synthetic.columns

Index(['id', 'block_id', 'industry', 'total_area', 'workers', 'landuse',
       'industrial', 'retail', 'service', 'population_availability',
       'workers_availability', 'employment_share', 'tours', 'TGR', 'geometry'],
      dtype='object')

In [8]:
# Создаем новый столбец 'company_id' и присваиваем ему значения из столбца 'id'
tours_synthetic['company_id'] = tours_synthetic['id']

             id  block_id    industry  total_area  workers      landuse  \
0     206819075       324  industrial    1039.479       60  residential
1     698090257      1884  industrial   21594.268     1012   industrial
2     710506739       274  industrial    1082.080       59   industrial
3    1099979600       752  industrial     962.597       37   industrial
4       2194005       410     service   12325.055      287  residential
..          ...       ...         ...         ...      ...          ...
302  1055221756      2237  industrial    1232.456       29   industrial
303  1097680915        52      retail     785.667       20   industrial
304  1103860108       209     service    4508.136      110   industrial
305  1136615387       943  industrial    2367.608       51   industrial
306  1147236714       294     service    3158.331       74   industrial

     industrial    retail   service  population_availability  \
0      0.865545  0.103314  0.031142                 6.314141
1      0.944083  0.007917  0.048000                 5.604110
2      0.941292       NaN  0.058708                 4.441204
3      0.888674  0.046569  0.064757                 4.710778
4      0.019342  0.083172  0.897485                 6.304679
..          ...       ...       ...                      ...
302    0.758065  0.211485  0.030451                 5.490278
303    0.765074  0.202428  0.032498                 5.232586
304    0.943292       NaN  0.056708                 5.036346
305    0.801968       NaN  0.198032                 4.979759
306    0.891762  0.001600  0.106638                 4.802194

     workers_availability  employment_share  tours       TGR  \
0                2.824434          0.865545    2.0  0.033333
1                2.824705          0.944083   37.0  0.036561
2                2.392340          0.941292    2.0  0.033898
3                2.383966          0.888674    1.0  0.027027
4                2.803704          0.897485    6.0  0.020906
..                    ...               ...    ...       ...
302              2.761119          0.758065    1.0  0.034483
303              2.547181          0.202428    2.0  0.100000
304              2.504850          0.056708    3.0  0.027273
305              2.434761          0.801968    1.0  0.019608
306              2.488054          0.106638    1.0  0.013514

                                              geometry  company_id
0    MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...   206819075
1    MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...   698090257
2    MULTIPOLYGON (((56.13594 57.92199, 56.13560 57...   710506739
3    MULTIPOLYGON (((56.34479 58.08673, 56.34490 58...  1099979600
4    MULTIPOLYGON (((56.23966 57.98813, 56.23986 57...     2194005
..                                                 ...         ...
302  MULTIPOLYGON (((56.25706 57.96640, 56.25750 57...  1055221756
303  MULTIPOLYGON (((56.20571 58.03226, 56.20585 58...  1097680915
304  MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...  1103860108
305  MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...  1136615387
306  MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...  1147236714

[307 rows x 16 columns]

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [11]:
# Размножаем строки по столбцу 'tours'
tours_synthetic_expanded = tours_synthetic.loc[
    tours_synthetic.index.repeat(tours_synthetic['tours'])
]

# Сбрасываем индекс для нового DataFrame
tours_synthetic_expanded = tours_synthetic_expanded.reset_index(drop=True)

# Печатаем обновленный DataFrame
tours_synthetic_expanded

,id,block_id,industry,total_area,workers,landuse,industrial,retail,service,population_availability,workers_availability,employment_share,tours,TGR,geometry,company_id
0,206819075,324,industrial,1039.479,60,residential,0.865545,0.103314,0.031142,6.314141,2.824434,0.865545,2.0,0.033333,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
1,206819075,324,industrial,1039.479,60,residential,0.865545,0.103314,0.031142,6.314141,2.824434,0.865545,2.0,0.033333,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
2,698090257,1884,industrial,21594.268,1012,industrial,0.944083,0.007917,0.048000,5.604110,2.824705,0.944083,37.0,0.036561,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
3,698090257,1884,industrial,21594.268,1012,industrial,0.944083,0.007917,0.048000,5.604110,2.824705,0.944083,37.0,0.036561,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
4,698090257,1884,industrial,21594.268,1012,industrial,0.944083,0.007917,0.048000,5.604110,2.824705,0.944083,37.0,0.036561,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,1103860108,209,service,4508.136,110,industrial,0.943292,NaN,0.056708,5.036346,2.504850,0.056708,3.0,0.027273,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1561,1103860108,209,service,4508.136,110,industrial,0.943292,NaN,0.056708,5.036346,2.504850,0.056708,3.0,0.027273,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1562,1103860108,209,service,4508.136,110,industrial,0.943292,NaN,0.056708,5.036346,2.504850,0.056708,3.0,0.027273,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1563,1136615387,943,industrial,2367.608,51,industrial,0.801968,NaN,0.198032,4.979759,2.434761,0.801968,1.0,0.019608,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387
1564,1147236714,294,service,3158.331,74,industrial,0.891762,0.001600,0.106638,4.802194,2.488054,0.106638,1.0,0.013514,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714

In [12]:
columns_to_drop = ['tours', 'TGR', 'total_area', 'workers', 'industrial', 'retail', 'service']
tours_synthetic_expanded = tours_synthetic_expanded.drop(columns=columns_to_drop)
tours_synthetic_expanded

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,geometry,company_id
0,206819075,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
1,206819075,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
2,698090257,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
3,698090257,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
4,698090257,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
...,...,...,...,...,...,...,...,...,...
1560,1103860108,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1561,1103860108,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1562,1103860108,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1563,1136615387,943,industrial,industrial,4.979759,2.434761,0.801968,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387
1564,1147236714,294,service,industrial,4.802194,2.488054,0.106638,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714

In [13]:
tours_synthetic_expanded['id'] = tours_synthetic_expanded.index  # Копирование порядкового индекса в столбец 'id'
tours_synthetic_expanded.set_index('id', inplace=True)  # Установка столбца 'id' в качестве индекса
tours_synthetic_expanded

,block_id,industry,landuse,population_availability,workers_availability,employment_share,geometry,company_id
id,,,,,,,,
0,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
1,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075
2,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
3,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
4,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257
...,...,...,...,...,...,...,...,...
1560,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1561,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1562,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108
1563,943,industrial,industrial,4.979759,2.434761,0.801968,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387
1564,294,service,industrial,4.802194,2.488054,0.106638,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714

In [ ]:
tours_synthetic_expanded.to_file('data/tour_list_data.geojson', driver='GeoJSON')

In [15]:
tours_synthetic_expanded.columns

Index(['block_id', 'industry', 'landuse', 'population_availability',
       'workers_availability', 'employment_share', 'geometry', 'company_id'],
      dtype='object')

In [22]:
from scipy.stats import rv_discrete
from scipy.stats import expon

Генерация часа отправления

In [26]:
# Распределение времени отправления туров
hours = np.arange(24)
hourly_distribution = np.array([
    0.0, 0.0, 0.0, 0.005640794223826715, 0.02115297833935018, 0.050767148014440426,
    0.25242554151624547, 0.5429264440433212, 4.690320397111913, 12.55499774368231,
    15.207581227436823, 13.129569043321299, 11.178474729241877, 12.794731498194945,
    12.306013086642597, 9.576658393501805, 4.800315884476534, 1.7883009927797833,
    0.60012409747292418, 0.5, 0.0, 0.0, 0.0, 0.0
])

hourly_distribution = hourly_distribution / 100

print(hourly_distribution.sum())

# Кумулятивная функция распределения
cdf = np.cumsum(hourly_distribution)

# Создание случайной переменной с дискретным распределением
random_variable = rv_discrete(values=(hours, hourly_distribution))

# Генерация времени отправления туров
tours_synthetic_expanded['departure_hour'] = random_variable.rvs(size=len(tours_synthetic_expanded))

# Вывод данных
tours_synthetic_expanded[['company_id', 'departure_hour']]

1.0

      company_id  departure_hour
id
0      206819075              15
1      206819075              10
2      698090257              16
3      698090257               9
4      698090257              14
...          ...             ...
1560  1103860108              15
1561  1103860108              10
1562  1103860108              11
1563  1136615387               9
1564  1147236714              10

[1565 rows x 2 columns]

Генерация минуты отправления

In [29]:
tours_synthetic_expanded['departure_minutes'] = np.random.choice(range(60), size=len(tours_synthetic_expanded))
tours_synthetic_expanded

,block_id,industry,landuse,population_availability,workers_availability,employment_share,geometry,company_id,departure_time,departure_hour,departure_minutes
id,,,,,,,,,,,
0,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,12,15,38
1,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,14,10,51
2,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,9,16,28
3,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,10,9,14
4,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,14,14,42
...,...,...,...,...,...,...,...,...,...,...,...
1560,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,13,15,16
1561,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,15,10,19
1562,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,14,11,40
1563,943,industrial,industrial,4.979759,2.434761,0.801968,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387,10,9,48
1564,294,service,industrial,4.802194,2.488054,0.106638,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714,12,10,19

Создадим колонку с точным временем

In [32]:
# Создаем колонку с временем
tours_synthetic_expanded['departure_time'] = pd.to_datetime(tours_synthetic_expanded['departure_hour'].astype(str) + ':' +
                                             tours_synthetic_expanded['departure_minutes'].astype(str), format='%H:%M')
tours_synthetic_expanded

,block_id,industry,landuse,population_availability,workers_availability,employment_share,geometry,company_id,departure_time,departure_hour,departure_minutes
id,,,,,,,,,,,
0,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,1900-01-01 15:38:00,15,38
1,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,1900-01-01 10:51:00,10,51
2,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 16:28:00,16,28
3,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 09:14:00,9,14
4,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 14:42:00,14,42
...,...,...,...,...,...,...,...,...,...,...,...
1560,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 15:16:00,15,16
1561,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 10:19:00,10,19
1562,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 11:40:00,11,40
1563,943,industrial,industrial,4.979759,2.434761,0.801968,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387,1900-01-01 09:48:00,9,48
1564,294,service,industrial,4.802194,2.488054,0.106638,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714,1900-01-01 10:19:00,10,19

In [34]:
tours_synthetic_expanded = tours_synthetic_expanded.drop(columns=['departure_hour', 'departure_minutes'])
tours_synthetic_expanded

,block_id,industry,landuse,population_availability,workers_availability,employment_share,geometry,company_id,departure_time
id,,,,,,,,,
0,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,1900-01-01 15:38:00
1,324,industrial,residential,6.314141,2.824434,0.865545,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",206819075,1900-01-01 10:51:00
2,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 16:28:00
3,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 09:14:00
4,1884,industrial,industrial,5.604110,2.824705,0.944083,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",698090257,1900-01-01 14:42:00
...,...,...,...,...,...,...,...,...,...
1560,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 15:16:00
1561,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 10:19:00
1562,209,service,industrial,5.036346,2.504850,0.056708,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",1103860108,1900-01-01 11:40:00
1563,943,industrial,industrial,4.979759,2.434761,0.801968,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",1136615387,1900-01-01 09:48:00
1564,294,service,industrial,4.802194,2.488054,0.106638,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",1147236714,1900-01-01 10:19:00

In [35]:
tours_synthetic_expanded.to_file('data/departure_time_synthetic.geojson', driver='GeoJSON')

СИНТЕЗИРУЕМ ТИП ТС ДЛЯ КАЖДОГО ТУРА

In [37]:
tours_synthetic = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/departure_time_synthetic.geojson")

In [44]:
# Генерируем типы транспортных средств с учетом вероятностей для каждой индустрии
tours_synthetic['vehicle_type'] = np.where(tours_synthetic['industry'] == 'industrial', np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.52, 0.25, 0.23]),
                                  np.where(tours_synthetic['industry'] == 'retail', np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.7, 0.2, 0.1]),
                                  np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.95, 0.04, 0.01])))
tours_synthetic

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,company_id,departure_time,geometry,vehicle_type
0,0,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 15:38:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",1
1,1,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 10:51:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",2
2,2,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 16:28:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0
3,3,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 09:14:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",2
4,4,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 14:42:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0
...,...,...,...,...,...,...,...,...,...,...,...
1560,1560,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 15:16:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0
1561,1561,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 10:19:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0
1562,1562,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 11:40:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0
1563,1563,943,industrial,industrial,4.979759,2.434761,0.801968,1136615387,1900-01-01 09:48:00,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",0
1564,1564,294,service,industrial,4.802194,2.488054,0.106638,1147236714,1900-01-01 10:19:00,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",0

СИНТЕЗИРУЕМ ЦЕЛЬ ТУРА

In [48]:
# Генерируем цели тура с учетом вероятностей для каждого типа транспортного средства
tours_synthetic['tour_purpose'] = np.where(tours_synthetic['vehicle_type'] == 0, np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.65, 0.25, 0.1]),
                                  np.where(tours_synthetic['vehicle_type'] == 1, np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.85, 0.11, 0.04]),
                                  np.random.choice([0, 1, 2], len(tours_synthetic), p=[0.93, 0.04, 0.03])))
tours_synthetic

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,company_id,departure_time,geometry,vehicle_type,tour_purpose
0,0,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 15:38:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",1,0
1,1,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 10:51:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",2,0
2,2,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 16:28:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0,1
3,3,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 09:14:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",2,0
4,4,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 14:42:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1560,1560,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 15:16:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,0
1561,1561,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 10:19:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,1
1562,1562,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 11:40:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,1
1563,1563,943,industrial,industrial,4.979759,2.434761,0.801968,1136615387,1900-01-01 09:48:00,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",0,0
1564,1564,294,service,industrial,4.802194,2.488054,0.106638,1147236714,1900-01-01 10:19:00,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",0,0

Запишем время суток в отдельное поле

In [50]:
def get_time_of_day(hour):
    if 4 <= hour < 11:
        return 0  # Утро
    elif 11 <= hour < 18:
        return 1  # День
    else:
        return 2  # Ночь

tours_synthetic['time_of_day'] = tours_synthetic['departure_time'].dt.hour.apply(get_time_of_day)
tours_synthetic

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,company_id,departure_time,geometry,vehicle_type,tour_purpose,time_of_day
0,0,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 15:38:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",1,0,1
1,1,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 10:51:00,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",2,0,0
2,2,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 16:28:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0,1,1
3,3,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 09:14:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",2,0,0
4,4,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 14:42:00,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,1560,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 15:16:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,0,1
1561,1561,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 10:19:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,1,0
1562,1562,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 11:40:00,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",0,1,1
1563,1563,943,industrial,industrial,4.979759,2.434761,0.801968,1136615387,1900-01-01 09:48:00,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",0,0,0
1564,1564,294,service,industrial,4.802194,2.488054,0.106638,1147236714,1900-01-01 10:19:00,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",0,0,0

In [51]:
tours_synthetic.to_file('data/purpose_time_synthetic.geojson', driver='GeoJSON')

МИКРОМОДЕЛИРУЕМ ТУРЫ

In [22]:
synthetic_tours_data = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/purpose_time_synthetic1.geojson")
synthetic_tours_data

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,company_id,departure_time,vehicle_type,tour_purpose,time_of_day,industry_numeric,landuse_numeric,vehicle_purpose,geometry
0,0,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 15:38:00,1,0,1,0,1,3,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57..."
1,1,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 10:51:00,2,0,0,0,1,6,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57..."
2,2,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 16:28:00,0,1,1,0,3,1,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58..."
3,3,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 09:14:00,2,0,0,0,3,6,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58..."
4,4,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 14:42:00,0,0,1,0,3,0,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,1560,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 15:16:00,0,0,1,2,3,0,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58..."
1561,1561,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 10:19:00,0,1,0,2,3,1,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58..."
1562,1562,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 11:40:00,0,1,1,2,3,1,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58..."
1563,1563,943,industrial,industrial,4.979759,2.434761,0.801968,1136615387,1900-01-01 09:48:00,0,0,0,0,3,0,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58..."
1564,1564,294,service,industrial,4.802194,2.488054,0.106638,1147236714,1900-01-01 10:19:00,0,0,0,2,3,0,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57..."

In [23]:
synthetic_tours_data.columns

Index(['id', 'block_id', 'industry', 'landuse', 'population_availability',
       'workers_availability', 'employment_share', 'company_id',
       'departure_time', 'vehicle_type', 'tour_purpose', 'time_of_day',
       'industry_numeric', 'landuse_numeric', 'vehicle_purpose', 'geometry'],
      dtype='object')

Сгенерируем количество остановок для каждого тура

In [24]:
# Количество остановок и соответствующие вероятности
stops_counts = [2, 3, 4, 5, 6, 7, 8]
probabilities = [0.1, 0.15, 0.23, 0.21, 0.14, 0.13, 0.04]

In [25]:
# Генерация количества остановок для каждого тура
num_tours = len(synthetic_tours_data)  # Получаем количество туров в геодатафрейме
stops_per_tour = np.random.choice(stops_counts, size=num_tours, p=probabilities)

# Добавляем количество остановок как новое поле в геодатафрейм
synthetic_tours_data['num_stops'] = stops_per_tour
synthetic_tours_data

,id,block_id,industry,landuse,population_availability,workers_availability,employment_share,company_id,departure_time,vehicle_type,tour_purpose,time_of_day,industry_numeric,landuse_numeric,vehicle_purpose,geometry,num_stops
0,0,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 15:38:00,1,0,1,0,1,3,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",3
1,1,324,industrial,residential,6.314141,2.824434,0.865545,206819075,1900-01-01 10:51:00,2,0,0,0,1,6,"MULTIPOLYGON (((56.24348 57.97681, 56.24351 57...",3
2,2,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 16:28:00,0,1,1,0,3,1,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",3
3,3,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 09:14:00,2,0,0,0,3,6,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",8
4,4,1884,industrial,industrial,5.604110,2.824705,0.944083,698090257,1900-01-01 14:42:00,0,0,1,0,3,0,"MULTIPOLYGON (((56.15937 58.00912, 56.15972 58...",7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,1560,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 15:16:00,0,0,1,2,3,0,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",3
1561,1561,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 10:19:00,0,1,0,2,3,1,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",4
1562,1562,209,service,industrial,5.036346,2.504850,0.056708,1103860108,1900-01-01 11:40:00,0,1,1,2,3,1,"MULTIPOLYGON (((56.16704 58.04032, 56.16847 58...",3
1563,1563,943,industrial,industrial,4.979759,2.434761,0.801968,1136615387,1900-01-01 09:48:00,0,0,0,0,3,0,"MULTIPOLYGON (((56.13883 58.01975, 56.13898 58...",5
1564,1564,294,service,industrial,4.802194,2.488054,0.106638,1147236714,1900-01-01 10:19:00,0,0,0,2,3,0,"MULTIPOLYGON (((56.17449 57.91414, 56.17469 57...",5

Сгенерируем цели остановок для каждого тура

In [26]:
from random import shuffle

def generate_stops(num_stops):
    """
    Генерирует и перемешивает список остановок для тура, кроме последней остановки (возвращение).
    :param num_stops: Общее количество остановок в туре.
    :return: Список словарей, каждый из которых представляет остановку.
    """
    # Добавляем 1-2 случайные остановки с целью "прочее" (код 1)
    num_other_stops = np.random.randint(1, 3)
    stops = [{'purpose': 1} for _ in range(num_other_stops)]

    # Добавляем оставшиеся остановки с основной целью (код 0), за исключением последней
    stops += [{'purpose': 0} for _ in range(num_stops - num_other_stops - 1)]

    # Перемешиваем все остановки, кроме последней
    shuffle(stops)

    # Добавляем последнюю остановку с целью "возвращение" (код 2)
    stops.append({'purpose': 2})

    return stops

# Применяем функцию к каждому туру в геодатафрейме
synthetic_tours_data['stops'] = synthetic_tours_data['num_stops'].apply(generate_stops)

# Проверка результата
print(synthetic_tours_data[['num_stops', 'stops']].head())

   num_stops                                              stops
0          3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
1          3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
2          3   [{'purpose': 0}, {'purpose': 1}, {'purpose': 2}]
3          8  [{'purpose': 0}, {'purpose': 0}, {'purpose': 0...
4          7  [{'purpose': 0}, {'purpose': 1}, {'purpose': 0...

In [27]:
synthetic_tours_data[['num_stops', 'stops']]

      num_stops                                              stops
0             3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
1             3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
2             3   [{'purpose': 0}, {'purpose': 1}, {'purpose': 2}]
3             8  [{'purpose': 0}, {'purpose': 0}, {'purpose': 0...
4             7  [{'purpose': 0}, {'purpose': 1}, {'purpose': 0...
...         ...                                                ...
1560          3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
1561          4  [{'purpose': 1}, {'purpose': 0}, {'purpose': 0...
1562          3   [{'purpose': 1}, {'purpose': 1}, {'purpose': 2}]
1563          5  [{'purpose': 1}, {'purpose': 0}, {'purpose': 0...
1564          5  [{'purpose': 0}, {'purpose': 0}, {'purpose': 0...

[1565 rows x 2 columns]

Сгенерируем зоны остановок

In [28]:
distance_matrix = pd.read_csv("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/TAZ_distance_matrix.csv")
distance_matrix

,id,1,6,9,11,16,17,22,23,24,...,2626,2683,2750,2841,2856,2869,2875,2877,2879,3000
0,1,646.9,1592.9,2795.1,2855.8,10798.8,10859.1,9229.7,4656.1,4630.0,...,9472.9,3847.7,20862.8,13663.8,4432.8,14398.3,11734.9,5697.9,28764.3,300.4
1,6,3772.0,2209.4,5908.6,3594.7,12332.1,12348.2,10857.5,6568.6,6317.2,...,10261.1,5896.6,21302.6,15291.6,6120.0,17418.8,14941.7,7487.7,29204.1,3423.7
2,9,5773.4,4525.7,3953.7,4691.6,14951.9,15012.2,13364.2,8789.4,9034.2,...,13626.0,7981.0,25015.9,17798.3,9140.7,10740.6,8294.4,9831.2,32917.4,5425.1
3,11,3346.0,1847.5,3944.8,225.6,13500.4,13560.7,11931.3,7357.7,7331.6,...,12018.6,6549.3,23564.4,16365.4,7134.4,15387.7,12977.9,8399.5,31465.9,2997.7
4,16,10059.1,12027.5,11720.1,13290.4,144.2,222.1,2163.2,6058.6,6138.5,...,2443.6,7393.8,11533.1,3424.7,6270.7,21716.6,18719.5,5727.0,19434.6,10407.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,14652.2,15241.0,12025.8,15406.9,21852.1,21912.4,20264.4,15689.6,15934.4,...,20526.2,14881.2,31916.1,24640.5,16040.9,190.0,3203.3,16731.4,39817.6,14612.7
495,2875,12827.7,13598.8,10318.8,13764.7,19693.9,19754.2,18106.2,13531.4,13776.2,...,18368.0,12723.0,29757.9,22482.3,13882.7,3581.5,870.5,14573.2,37659.4,12788.2
496,2877,5053.5,7021.9,6703.3,8284.8,5831.6,5891.9,4180.4,1041.8,1221.3,...,4505.7,2377.0,15895.6,8662.5,1414.0,16699.8,13702.7,0.0,23797.1,5401.8
497,2879,28119.9,29809.8,29789.5,31345.5,19296.1,19218.2,20409.4,24128.7,24199.3,...,19830.2,25463.9,7917.9,18523.3,24331.5,39786.0,36788.9,23797.1,0.0,28468.2
498,3000,638.0,2606.4,3505.9,3869.3,9613.2,9673.5,8044.1,3554.8,3444.4,...,8287.3,2746.4,19677.2,12478.2,3247.2,15008.6,12239.0,4596.6,27578.7,986.3

In [29]:
# Сделать столбец 'id' индексом
distance_matrix.set_index('id', inplace=True)
distance_matrix

,1,6,9,11,16,17,22,23,24,28,...,2626,2683,2750,2841,2856,2869,2875,2877,2879,3000
id,,,,,,,,,,,,,,,,,,,,,
1,646.9,1592.9,2795.1,2855.8,10798.8,10859.1,9229.7,4656.1,4630.0,3587.3,...,9472.9,3847.7,20862.8,13663.8,4432.8,14398.3,11734.9,5697.9,28764.3,300.4
6,3772.0,2209.4,5908.6,3594.7,12332.1,12348.2,10857.5,6568.6,6317.2,5636.2,...,10261.1,5896.6,21302.6,15291.6,6120.0,17418.8,14941.7,7487.7,29204.1,3423.7
9,5773.4,4525.7,3953.7,4691.6,14951.9,15012.2,13364.2,8789.4,9034.2,7720.6,...,13626.0,7981.0,25015.9,17798.3,9140.7,10740.6,8294.4,9831.2,32917.4,5425.1
11,3346.0,1847.5,3944.8,225.6,13500.4,13560.7,11931.3,7357.7,7331.6,6288.9,...,12018.6,6549.3,23564.4,16365.4,7134.4,15387.7,12977.9,8399.5,31465.9,2997.7
16,10059.1,12027.5,11720.1,13290.4,144.2,222.1,2163.2,6058.6,6138.5,7513.0,...,2443.6,7393.8,11533.1,3424.7,6270.7,21716.6,18719.5,5727.0,19434.6,10407.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869,14652.2,15241.0,12025.8,15406.9,21852.1,21912.4,20264.4,15689.6,15934.4,14620.8,...,20526.2,14881.2,31916.1,24640.5,16040.9,190.0,3203.3,16731.4,39817.6,14612.7
2875,12827.7,13598.8,10318.8,13764.7,19693.9,19754.2,18106.2,13531.4,13776.2,12462.6,...,18368.0,12723.0,29757.9,22482.3,13882.7,3581.5,870.5,14573.2,37659.4,12788.2
2877,5053.5,7021.9,6703.3,8284.8,5831.6,5891.9,4180.4,1041.8,1221.3,2496.2,...,4505.7,2377.0,15895.6,8662.5,1414.0,16699.8,13702.7,0.0,23797.1,5401.8
2879,28119.9,29809.8,29789.5,31345.5,19296.1,19218.2,20409.4,24128.7,24199.3,25582.4,...,19830.2,25463.9,7917.9,18523.3,24331.5,39786.0,36788.9,23797.1,0.0,28468.2
3000,638.0,2606.4,3505.9,3869.3,9613.2,9673.5,8044.1,3554.8,3444.4,2486.0,...,8287.3,2746.4,19677.2,12478.2,3247.2,15008.6,12239.0,4596.6,27578.7,986.3

In [30]:
zones = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/TAZ_final.geojson")
zones

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,population_availability,workers_availability,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,5.241083,2.463974,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,4.892252,2.386894,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,4.760366,2.351703,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,4.804614,2.364015,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,6.456608,2.789124,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,4.291921,2.221195,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,4.515939,2.286350,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,5.810754,3.120476,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,4.074374,2.930219,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,5.342491,2.495559,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [31]:
zones['centroids'] = zones['geometry'].centroid

# Удаляем поле 'geometry'
zones = zones.drop(columns=['geometry'])

# Переименовываем поле 'centroids' в 'geometry'
zones = zones.rename(columns={'centroids': 'geometry'})

zones

C:\Users\sm_pa\AppData\Local\Temp\ipykernel_3384\175046214.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones['centroids'] = zones['geometry'].centroid

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,population_availability,workers_availability,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,5.241083,2.463974,POINT (56.35909 58.03661)
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,4.892252,2.386894,POINT (56.39549 58.02264)
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,4.760366,2.351703,POINT (56.40065 58.06548)
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,4.804614,2.364015,POINT (56.40413 58.04082)
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,6.456608,2.789124,POINT (56.21203 58.00316)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,4.291921,2.221195,POINT (56.38927 58.14992)
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,4.515939,2.286350,POINT (56.37708 58.13860)
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,5.810754,3.120476,POINT (56.28619 58.03040)
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,4.074374,2.930219,POINT (56.15952 57.88148)
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,5.342491,2.495559,POINT (56.34246 58.03301)

In [32]:
zones = zones[['id', 'landuse', 'population_availability', 'workers_availability', 'geometry']]
zones

,id,landuse,population_availability,workers_availability,geometry
0,1,low_density,5.241083,2.463974,POINT (56.35909 58.03661)
1,6,low_density,4.892252,2.386894,POINT (56.39549 58.02264)
2,9,low_density,4.760366,2.351703,POINT (56.40065 58.06548)
3,11,low_density,4.804614,2.364015,POINT (56.40413 58.04082)
4,16,residential,6.456608,2.789124,POINT (56.21203 58.00316)
...,...,...,...,...,...
494,2869,commercial,4.291921,2.221195,POINT (56.38927 58.14992)
495,2875,industrial,4.515939,2.286350,POINT (56.37708 58.13860)
496,2877,industrial,5.810754,3.120476,POINT (56.28619 58.03040)
497,2879,industrial,4.074374,2.930219,POINT (56.15952 57.88148)
498,3000,low_density,5.342491,2.495559,POINT (56.34246 58.03301)

In [ ]:
custom_order = ['low_density', 'residential', 'commercial', 'industrial']
zones['landuse_numeric'] = pd.Categorical(zones['landuse'], categories=custom_order, ordered=True).codes
zones

In [34]:
zones.to_file('data/TAZ_centroids.geojson', driver='GeoJSON')

In [43]:
zones = zones.set_index('id')
zones

,landuse,population_availability,workers_availability,geometry,landuse_numeric
id,,,,,
1,low_density,5.241083,2.463974,POINT (56.35909 58.03661),0
6,low_density,4.892252,2.386894,POINT (56.39549 58.02264),0
9,low_density,4.760366,2.351703,POINT (56.40065 58.06548),0
11,low_density,4.804614,2.364015,POINT (56.40413 58.04082),0
16,residential,6.456608,2.789124,POINT (56.21203 58.00316),1
...,...,...,...,...,...
2869,commercial,4.291921,2.221195,POINT (56.38927 58.14992),2
2875,industrial,4.515939,2.286350,POINT (56.37708 58.13860),3
2877,industrial,5.810754,3.120476,POINT (56.28619 58.03040),3
2879,industrial,4.074374,2.930219,POINT (56.15952 57.88148),3
3000,low_density,5.342491,2.495559,POINT (56.34246 58.03301),0

In [48]:
distance_matrix.columns = pd.to_numeric(distance_matrix.columns)
distance_matrix

,1,6,9,11,16,17,22,23,24,28,...,2626,2683,2750,2841,2856,2869,2875,2877,2879,3000
id,,,,,,,,,,,,,,,,,,,,,
1,646.9,1592.9,2795.1,2855.8,10798.8,10859.1,9229.7,4656.1,4630.0,3587.3,...,9472.9,3847.7,20862.8,13663.8,4432.8,14398.3,11734.9,5697.9,28764.3,300.4
6,3772.0,2209.4,5908.6,3594.7,12332.1,12348.2,10857.5,6568.6,6317.2,5636.2,...,10261.1,5896.6,21302.6,15291.6,6120.0,17418.8,14941.7,7487.7,29204.1,3423.7
9,5773.4,4525.7,3953.7,4691.6,14951.9,15012.2,13364.2,8789.4,9034.2,7720.6,...,13626.0,7981.0,25015.9,17798.3,9140.7,10740.6,8294.4,9831.2,32917.4,5425.1
11,3346.0,1847.5,3944.8,225.6,13500.4,13560.7,11931.3,7357.7,7331.6,6288.9,...,12018.6,6549.3,23564.4,16365.4,7134.4,15387.7,12977.9,8399.5,31465.9,2997.7
16,10059.1,12027.5,11720.1,13290.4,144.2,222.1,2163.2,6058.6,6138.5,7513.0,...,2443.6,7393.8,11533.1,3424.7,6270.7,21716.6,18719.5,5727.0,19434.6,10407.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869,14652.2,15241.0,12025.8,15406.9,21852.1,21912.4,20264.4,15689.6,15934.4,14620.8,...,20526.2,14881.2,31916.1,24640.5,16040.9,190.0,3203.3,16731.4,39817.6,14612.7
2875,12827.7,13598.8,10318.8,13764.7,19693.9,19754.2,18106.2,13531.4,13776.2,12462.6,...,18368.0,12723.0,29757.9,22482.3,13882.7,3581.5,870.5,14573.2,37659.4,12788.2
2877,5053.5,7021.9,6703.3,8284.8,5831.6,5891.9,4180.4,1041.8,1221.3,2496.2,...,4505.7,2377.0,15895.6,8662.5,1414.0,16699.8,13702.7,0.0,23797.1,5401.8
2879,28119.9,29809.8,29789.5,31345.5,19296.1,19218.2,20409.4,24128.7,24199.3,25582.4,...,19830.2,25463.9,7917.9,18523.3,24331.5,39786.0,36788.9,23797.1,0.0,28468.2
3000,638.0,2606.4,3505.9,3869.3,9613.2,9673.5,8044.1,3554.8,3444.4,2486.0,...,8287.3,2746.4,19677.2,12478.2,3247.2,15008.6,12239.0,4596.6,27578.7,986.3

In [53]:
def select_zone_for_stop(home_zone_id, zones, distance_matrix):
    """
    Выбирает зону для остановки на основе расстояния, типа землепользования, доступности рабочих мест и домашней зоны.
    :param current_zone: ID текущей зоны.
    :param home_zone_id: ID домашней зоны.
    :param zones: DataFrame с зонами и их характеристиками.
    :param distance_matrix: Матрица расстояний между зонами.
    :return: ID выбранной зоны.
    """
    probabilities = []

    for zone_id in zones.index:
        # Расчет вероятности на основе расстояния от домашней зоны
        distance_home = distance_matrix.loc[home_zone_id, zone_id]
        distance_probability_home = 1 / (distance_home + 1)  # Простой пример, можно модифицировать

        # Учет типа землепользования
        landuse_probability = zones.loc[zone_id, 'landuse_numeric'] / 3  # Пример, требует уточнения

        # Учет доступности рабочих мест
        work_availability = zones.loc[zone_id, 'workers_availability']
        work_probability = work_availability / zones['workers_availability'].max()  # Нормализация

        # Общая вероятность для зоны
        total_probability = distance_probability_home * landuse_probability * work_probability
        probabilities.append(total_probability)

    # Нормализация вероятностей
    probabilities = [p / sum(probabilities) for p in probabilities]

    # Выбор зоны на основе сгенерированных вероятностей
    selected_zone = np.random.choice(zones.index, p=probabilities)
    return selected_zone

In [54]:
for index, row in synthetic_tours_data.iterrows():
    home_zone_id = row['block_id']
    for stop in row['stops']:
        # Выбор зоны для остановки
        selected_zone_id = select_zone_for_stop(home_zone_id, zones, distance_matrix)
        # Добавление выбранной зоны к информации об остановке
        stop['zone_id'] = selected_zone_id

In [58]:
synthetic_tours_data[['block_id', 'stops']]

      block_id                                              stops
0          324  [{'purpose': 1, 'zone_id': 777}, {'purpose': 1...
1          324  [{'purpose': 1, 'zone_id': 771}, {'purpose': 1...
2         1884  [{'purpose': 0, 'zone_id': 378}, {'purpose': 1...
3         1884  [{'purpose': 0, 'zone_id': 1883}, {'purpose': ...
4         1884  [{'purpose': 0, 'zone_id': 1550}, {'purpose': ...
...        ...                                                ...
1560       209  [{'purpose': 1, 'zone_id': 2059}, {'purpose': ...
1561       209  [{'purpose': 1, 'zone_id': 471}, {'purpose': 0...
1562       209  [{'purpose': 1, 'zone_id': 632}, {'purpose': 1...
1563       943  [{'purpose': 1, 'zone_id': 1491}, {'purpose': ...
1564       294  [{'purpose': 0, 'zone_id': 17}, {'purpose': 0,...

[1565 rows x 2 columns]

In [61]:
for index, row in synthetic_tours_data.iterrows():
    # Установка домашней зоны для последней остановки
    if row['stops']:  # Проверяем, есть ли остановки
        row['stops'][-1]['zone_id'] = row['block_id']

Сгенерируем продолжительность остановок

In [65]:
import numpy as np

for index, row in synthetic_tours_data.iterrows():
    for stop in row['stops']:
        # Генерация продолжительности остановки с нормальным распределением
        duration = np.random.normal(loc=20, scale=10)  # loc - среднее, scale - стандартное отклонение
        duration = max(0, min(duration, 40))  # Ограничение продолжительности от 0 до 40 минут
        stop['duration'] = int(duration)  # Добавление продолжительности в словарь остановки

In [66]:
synthetic_tours_data['stops']

0       [{'purpose': 1, 'zone_id': 777, 'duration': 24...
1       [{'purpose': 1, 'zone_id': 771, 'duration': 29...
2       [{'purpose': 0, 'zone_id': 378, 'duration': 14...
3       [{'purpose': 0, 'zone_id': 1883, 'duration': 3...
4       [{'purpose': 0, 'zone_id': 1550, 'duration': 2...
                              ...
1560    [{'purpose': 1, 'zone_id': 2059, 'duration': 2...
1561    [{'purpose': 1, 'zone_id': 471, 'duration': 11...
1562    [{'purpose': 1, 'zone_id': 632, 'duration': 37...
1563    [{'purpose': 1, 'zone_id': 1491, 'duration': 1...
1564    [{'purpose': 0, 'zone_id': 17, 'duration': 35}...
Name: stops, Length: 1565, dtype: object

Добавим поле time_spent каждой остановке

In [77]:
import json

In [84]:
# Убедитесь, что stops преобразованы из строки JSON в список словарей
synthetic_tours_data['stops'] = synthetic_tours_data['stops'].apply(json.loads)

In [ ]:
SPEED = 600  # Скорость в метрах в минуту

for index, row in synthetic_tours_data.iterrows():
    time_spent = 0  # Начальное время, потраченное на путь
    previous_zone = row['block_id']  # Начальная точка - домашняя зона

    for stop in row['stops']:
        current_zone = stop['zone_id']  # Преобразование ID текущей зоны в строку

        # Расстояние от предыдущей зоны до текущей
        distance = distance_matrix.loc[previous_zone, current_zone]

        # Время, затрачиваемое на путь до текущей зоны
        travel_time = distance / SPEED

        # Общее время, затраченное до текущего момента (включая остановку)
        time_spent += travel_time + stop['duration']

        # Добавление времени, затраченного до текущей остановки, в словарь остановки
        stop['time_spent'] = time_spent

        # Обновление предыдущей зоны для следующего шага
        previous_zone = current_zone

In [ ]:
# Загрузка данных из CSV
synthetic_tours_data = pd.read_csv('C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/stops_synthetic.csv')

# Преобразование строки JSON обратно в список словарей для каждой записи
synthetic_tours_data['stops'] = synthetic_tours_data['stops'].apply(json.loads)

synthetic_tours_data