In [1]:
import geopandas as gpd

In [2]:
non_living_buildings = gpd.read_file("data/buildings.geojson")
industrial_zone = gpd.read_file("data/landuse_industrial.geojson")
non_living_buildings

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry
0,81509035,retail,False,5,2434.182,NaN,0,0.0,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57..."
1,28470,school,False,3,2393.244,NaN,0,0.0,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58..."
2,28480,school,False,3,2346.316,NaN,0,0.0,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58..."
3,290869,school,False,3,2337.493,NaN,0,0.0,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57..."
4,299980,school,False,3,2377.855,NaN,0,0.0,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57..."
...,...,...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,NaN,0,0.0,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57..."
14089,1148104875,yes,False,1,107.470,NaN,0,0.0,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57..."
14090,1148419580,office,False,4,624.885,NaN,0,0.0,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57..."
14091,1148746841,industrial,False,1,188.391,NaN,0,0.0,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57..."
14092,1149034816,industrial,False,1,516.981,NaN,0,0.0,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57..."

Определяем здания, попадающие в промзоны

In [3]:
# Пространственное объединение
result = gpd.sjoin(non_living_buildings, industrial_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry,...,name:en,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type
0,81509035,retail,False,5,2434.182,NaN,0,0.0,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28470,school,False,3,2393.244,NaN,0,0.0,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28480,school,False,3,2346.316,NaN,0,0.0,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290869,school,False,3,2337.493,NaN,0,0.0,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,299980,school,False,3,2377.855,NaN,0,0.0,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,NaN,0,0.0,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,1148104875,yes,False,1,107.470,NaN,0,0.0,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14090,1148419580,office,False,4,624.885,NaN,0,0.0,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",...,None,None,None,None,road_transport,None,Промышленная улица,98,ООО «Автотранспортное предприятие «Кама»,None
14091,1148746841,industrial,False,1,188.391,NaN,0,0.0,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",...,None,None,None,None,oil,None,Промышленная улица,84,ООО «ЛУКОЙЛ-Пермнефтеоргсинтез»,None
14092,1149034816,industrial,False,1,516.981,NaN,0,0.0,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",...,None,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon

Помечаем здания, попавшие в промзоны, как промышленные

In [4]:
# Создание поля 'industry' и заполнение его значениями
result['industry'] = ''
result.loc[~result['index_right'].isna(), 'industry'] = 'industrial'
result

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry,...,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type,industry
0,81509035,retail,False,5,2434.182,NaN,0,0.0,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,28470,school,False,3,2393.244,NaN,0,0.0,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,28480,school,False,3,2346.316,NaN,0,0.0,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,290869,school,False,3,2337.493,NaN,0,0.0,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,299980,school,False,3,2377.855,NaN,0,0.0,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,NaN,0,0.0,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14089,1148104875,yes,False,1,107.470,NaN,0,0.0,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14090,1148419580,office,False,4,624.885,NaN,0,0.0,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",...,None,None,None,road_transport,None,Промышленная улица,98,ООО «Автотранспортное предприятие «Кама»,None,industrial
14091,1148746841,industrial,False,1,188.391,NaN,0,0.0,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",...,None,None,None,oil,None,Промышленная улица,84,ООО «ЛУКОЙЛ-Пермнефтеоргсинтез»,None,industrial
14092,1149034816,industrial,False,1,516.981,NaN,0,0.0,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",...,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon,industrial

In [5]:
# отбрасываем лишние столбцы
result = result[['id', 'function', 'is_living', 'storeys_count', 'basement_area', 'block_id', 'geometry', 'industry']]
result

,id,function,is_living,storeys_count,basement_area,block_id,geometry,industry
0,81509035,retail,False,5,2434.182,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",
1,28470,school,False,3,2393.244,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",
2,28480,school,False,3,2346.316,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",
3,290869,school,False,3,2337.493,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",
4,299980,school,False,3,2377.855,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",
...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",
14089,1148104875,yes,False,1,107.470,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",
14090,1148419580,office,False,4,624.885,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial
14091,1148746841,industrial,False,1,188.391,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial
14092,1149034816,industrial,False,1,516.981,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial

In [25]:
(result['industry'] == 'industrial').sum()

5323

Находим здания, попадающие в ретейл зоны

In [21]:
retail_zone = gpd.read_file('data/landuse_retail.geojson')
result = gpd.sjoin(result, retail_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,function,is_living,storeys_count,basement_area,block_id,geometry,industry,index_right,full_id,...,loc_name,description,addr:street,addr:postcode,addr:housenumber,addr:city,barrier,amenity,name,type
0,81509035,retail,False,5,2434.182,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28470,school,False,3,2393.244,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28480,school,False,3,2346.316,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290869,school,False,3,2337.493,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,299980,school,False,3,2377.855,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,1148104875,yes,False,1,107.470,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",service,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14090,1148419580,office,False,4,624.885,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14091,1148746841,industrial,False,1,188.391,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14092,1149034816,industrial,False,1,516.981,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Здания, попавшие в ретейл зоны, помечаем как ретейл

In [22]:
result.loc[~result['index_right'].isna(), 'industry'] = 'retail'
result = result[['id', 'function', 'is_living', 'storeys_count', 'basement_area', 'block_id', 'geometry', 'industry']]
result

,id,function,is_living,storeys_count,basement_area,block_id,geometry,industry
0,81509035,retail,False,5,2434.182,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",
1,28470,school,False,3,2393.244,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",
2,28480,school,False,3,2346.316,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",
3,290869,school,False,3,2337.493,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",
4,299980,school,False,3,2377.855,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",
...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",
14089,1148104875,yes,False,1,107.470,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",service
14090,1148419580,office,False,4,624.885,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial
14091,1148746841,industrial,False,1,188.391,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial
14092,1149034816,industrial,False,1,516.981,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial

In [23]:
(result['industry'] == 'retail').sum()

115

Находим здания, попадающие в коммерческие зоны

In [17]:
commercial_zone = gpd.read_file('data/landuse_commercial.geojson')
result = gpd.sjoin(result, commercial_zone, how="left", op='intersects')

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

Здания, попавшие в коммерческие зоны, помечаем как услуги

In [18]:
result.loc[~result['index_right'].isna(), 'industry'] = 'service'
result = result[['id', 'function', 'is_living', 'storeys_count', 'basement_area', 'block_id', 'geometry', 'industry']]
result

,id,function,is_living,storeys_count,basement_area,block_id,geometry,industry
0,81509035,retail,False,5,2434.182,529,"MULTIPOLYGON (((56.18833 57.97849, 56.18910 57...",
1,28470,school,False,3,2393.244,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58...",
2,28480,school,False,3,2346.316,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58...",
3,290869,school,False,3,2337.493,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57...",
4,299980,school,False,3,2377.855,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57...",
...,...,...,...,...,...,...,...,...
14088,1147821565,yes,False,1,1218.829,649,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57...",
14089,1148104875,yes,False,1,107.470,274,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57...",service
14090,1148419580,office,False,4,624.885,276,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57...",industrial
14091,1148746841,industrial,False,1,188.391,274,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57...",industrial
14092,1149034816,industrial,False,1,516.981,275,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57...",industrial

In [24]:
(result['industry'] == 'service').sum()

832

In [26]:
# Сохраняем геодатафрейм с назначенным типом индустрии
result.to_file('data/buildings_with_industry.geojson', driver='GeoJSON')

In [30]:
non_living_buildings['id'].duplicated().sum()

1

Дальше посмотреть еще по тегам в function

In [32]:
new_result = result
new_result['function'].value_counts()

function
yes               11400
industrial         1411
commercial          241
kindergarten        219
retail              213
office              163
school              148
hospital             68
construction         53
church               38
university           32
hangar               21
government           21
train_station        17
supermarket          12
college              10
civic                10
hotel                 9
shop                  9
pavilion              8
sports_centre         7
fire_station          6
stadium               4
farm_auxiliary        4
parking               4
grandstand            3
no                    3
outbuilding           3
public                3
sports_hall           3
transportation        3
dormitory             2
mosque                2
bridge                2
cathedral             1
abandoned             1
toilets               1
cabin                 1
industrialь           1
monastery             1
manufacture           1
hostel                1
presbytery            1
Name: count, dtype: int64

In [34]:
(new_result['industry'] == "").sum()

7891

In [35]:
# Установка значения 'industry' равным 'industrial', если значение 'function' равно 'industrial'
new_result.loc[result['function'] == 'industrial', 'industry'] = 'industrial'
(new_result['industry'] == "").sum()

7586

In [36]:
new_result.loc[result['function'] == 'retail', 'industry'] = 'retail'
new_result.loc[result['function'] == 'commercial', 'industry'] = 'service'
(new_result['industry'] == "").sum()

7265

In [37]:
new_result.loc[result['function'] == 'kindergarten', 'industry'] = 'retail'
new_result.loc[result['function'] == 'office', 'industry'] = 'service'
new_result.loc[result['function'] == 'hospital', 'industry'] = 'service'
new_result.loc[result['function'] == 'church', 'industry'] = 'service'
new_result.loc[result['function'] == 'university', 'industry'] = 'service'
new_result.loc[result['function'] == 'hangar', 'industry'] = 'industrial'
new_result.loc[result['function'] == 'government', 'industry'] = 'service'
new_result.loc[result['function'] == 'train_station', 'industry'] = 'service'
new_result.loc[result['function'] == 'supermarket', 'industry'] = 'retail'
new_result.loc[result['function'] == 'college', 'industry'] = 'service'
new_result.loc[result['function'] == 'civic', 'industry'] = 'service'
new_result.loc[result['function'] == 'hotel', 'industry'] = 'service'
new_result.loc[result['function'] == 'shop', 'industry'] = 'retail'
new_result.loc[result['function'] == 'pavilion', 'industry'] = 'retail'
new_result.loc[result['function'] == 'sports_centre', 'industry'] = 'service'
(new_result['industry'] == "").sum()

6741

In [38]:
new_result.to_file('data/buildings_with_industry.geojson', driver='GeoJSON')