In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd

In [2]:
blocks = gpd.read_file("data/blocks.geojson")
blocks

,id,area,administrative_unit_id,municipality_id,geometry
0,1,1.224163e+06,6,1,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,2,1.502047e+06,6,1,"POLYGON ((56.36000 58.03485, 56.35999 58.03486..."
2,3,3.110835e+05,6,1,"POLYGON ((56.36956 58.03529, 56.36956 58.03528..."
3,4,2.325404e+05,6,1,"POLYGON ((56.37105 58.03543, 56.37104 58.03542..."
4,5,2.935132e+05,6,1,"POLYGON ((56.37142 58.03544, 56.37140 58.03544..."
...,...,...,...,...,...
2871,2880,1.321830e+04,2,1,"POLYGON ((56.15604 57.88224, 56.15602 57.88224..."
2872,2881,1.290221e+05,1,1,"POLYGON ((56.41638 58.15545, 56.41639 58.15545..."
2873,2883,1.227687e+05,1,1,"POLYGON ((56.53509 58.13568, 56.53508 58.13569..."
2874,2884,2.572212e+03,1,1,"POLYGON ((56.51985 58.14921, 56.51985 58.14923..."
2875,3000,3.550764e+06,6,1,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [34]:
# определяем кварталы, пересекающиеся с промзонами
industrial_zone = gpd.read_file("data/landuse_industrial.geojson")
result = gpd.sjoin(blocks, industrial_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,area,administrative_unit_id,municipality_id,geometry,index_right,full_id,osm_id,osm_type,landuse,...,name:en,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type
0,1,1.224163e+06,6,1,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.502047e+06,6,1,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.110835e+05,6,1,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.325404e+05,6,1,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.935132e+05,6,1,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,2,1,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",22.0,r4669319,4669319,relation,industrial,...,None,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon
2872,2881,1.290221e+05,1,1,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,1,1,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,1,1,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,6,1,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",41.0,w28240234,28240234,way,industrial,...,None,None,None,fence,None,None,None,None,Хлебозавод №7,None

In [35]:
result['landuse'] = ''
result.loc[~result['index_right'].isna(), 'landuse'] = 'industrial'
result

,id,area,administrative_unit_id,municipality_id,geometry,index_right,full_id,osm_id,osm_type,landuse,...,name:en,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type
0,1,1.224163e+06,6,1,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.502047e+06,6,1,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.110835e+05,6,1,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.325404e+05,6,1,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.935132e+05,6,1,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,2,1,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",22.0,r4669319,4669319,relation,industrial,...,None,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon
2872,2881,1.290221e+05,1,1,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,1,1,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,1,1,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,6,1,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",41.0,w28240234,28240234,way,industrial,...,None,None,None,fence,None,None,None,None,Хлебозавод №7,None

In [36]:
result = result[['id', 'area', 'geometry', 'landuse']]
result

,id,area,geometry,landuse
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [37]:
result = result.drop_duplicates(subset=['id'])
result

,id,area,geometry,landuse
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [38]:
(result['landuse'] == 'industrial').sum()

159

In [39]:
# определяем кварталы, пересекающиеся с коммерческими зонами
com_zone = gpd.read_file("data/landuse_commercial.geojson")
result = gpd.sjoin(result, com_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,area,geometry,landuse_left,index_right,full_id,osm_id,osm_type,landuse_right,fence_type,...,loc_name,description,barrier,addr:street,addr:postcode,addr:housenumber,addr:city,website,name,type
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",,17.0,r13601592,13601592,relation,commercial,None,...,None,None,None,None,None,None,None,None,None,multipolygon
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# помечаем коммерческие кварталы
result.loc[~result['index_right'].isna(), 'landuse_left'] = 'commercial'
result = result[['id', 'area', 'geometry', 'landuse_left']]
result = result.drop_duplicates(subset=['id'])
result

,id,area,geometry,landuse_left
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [41]:
result = result.rename(columns={'landuse_left':'landuse'})
result

,id,area,geometry,landuse
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [42]:
# определяем кварталы, пересекающиеся с ретейл зонами
retail_zone = gpd.read_file("data/landuse_retail.geojson")
result = gpd.sjoin(result, retail_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,area,geometry,landuse_left,index_right,full_id,osm_id,osm_type,landuse_right,operator,loc_name,description,addr:street,addr:postcode,addr:housenumber,addr:city,barrier,amenity,name,type
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# помечаем ретейл кварталы как коммерческие
result.loc[~result['index_right'].isna(), 'landuse_left'] = 'commercial'
result = result[['id', 'area', 'geometry', 'landuse_left']]
result = result.drop_duplicates(subset=['id'])
result

,id,area,geometry,landuse_left
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [ ]:
result = result.rename(columns={'landuse_left':'landuse'})
result

In [49]:
# определяем кварталы, пересекающиеся с промзонами
result = gpd.sjoin(result, industrial_zone, how="left", op='intersects')
result

C:\Users\sm_pa\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3490: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,id,area,geometry,landuse_left,index_right,full_id,osm_id,osm_type,landuse_right,product,...,name:en,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial,22.0,r4669319,4669319,relation,industrial,None,...,None,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial,41.0,w28240234,28240234,way,industrial,None,...,None,None,None,fence,None,None,None,None,Хлебозавод №7,None

In [51]:
result.loc[~result['index_right'].isna(), 'landuse_left'] = 'industrial'
result

,id,area,geometry,landuse_left,index_right,full_id,osm_id,osm_type,landuse_right,product,...,alt_name,access,barrier,industrial,depot,addr:street,addr:housenumber,name,type,landuse
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial,22.0,r4669319,4669319,relation,industrial,None,...,None,None,None,petrochemicals,None,Промышленная улица,96,Филиал «ПМУ» АО «ОХК «Уралхим»,multipolygon,industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial,41.0,w28240234,28240234,way,industrial,None,...,None,None,fence,None,None,None,None,Хлебозавод №7,None,industrial

In [52]:
result = result[['id', 'area', 'geometry', 'landuse_left']]
result = result.drop_duplicates(subset=['id'])
result = result.rename(columns={'landuse_left':'landuse'})
result

,id,area,geometry,landuse
0,1,1.224163e+06,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",commercial
1,2,1.502047e+06,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",
2,3,3.110835e+05,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",
3,4,2.325404e+05,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",
4,5,2.935132e+05,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",
...,...,...,...,...
2871,2880,1.321830e+04,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",industrial
2872,2881,1.290221e+05,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",
2873,2883,1.227687e+05,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",
2874,2884,2.572212e+03,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",
2875,3000,3.550764e+06,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",industrial

In [54]:
(result['landuse'] == 'commercial').sum()

88

In [56]:
result.to_file('data/blocks_partly_TAZ.geojson', driver='GeoJSON')

Продолжение обработки - оценка долей жилых, коммерческих и промышленных площадей в каждом квартале

In [4]:
buildings_with_workers = gpd.read_file("data/buildings_with_workers.geojson")
buildings_with_workers

,id,function,is_living,storeys_count,basement_area,block_id,industry,total_area,workers,geometry
0,4669322,yes,False,1,694.450,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57..."
1,79882759,yes,False,1,214.784,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58..."
2,79882837,office,False,2,776.034,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58..."
3,79883190,yes,False,1,189.197,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58..."
4,89185196,industrial,False,1,450.628,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58..."
...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,yes,False,1,1218.829,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57..."
8439,1148104875,yes,False,1,107.470,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57..."
8440,1148419580,office,False,4,624.885,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57..."
8441,1148746841,industrial,False,1,188.391,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57..."
8442,1149034816,industrial,False,1,516.981,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57..."

In [5]:

# Группировка данных по 'block_id' и 'industry', вычисление суммы работников для каждой группы
grouped_data = buildings_with_workers.groupby(['block_id', 'industry'])['workers'].sum().reset_index()

# Подсчет общего числа работников для каждого квартала
total_workers_per_block = grouped_data.groupby('block_id')['workers'].sum()

# Добавление столбца с долями занятости для каждой индустрии
grouped_data['employment_share'] = grouped_data['workers'] / grouped_data['block_id'].map(total_workers_per_block)

# Подготовка таблицы из трех столбцов
result_table = grouped_data.pivot(index='block_id', columns='industry', values='employment_share').reset_index()

# Заполнение NaN значений нулями
result_table = result_table.fillna(0)

# Вывод результата
print("Таблица долей занятости в каждой из трех индустрий для каждого квартала:")
print(result_table)

Таблица долей занятости в каждой из трех индустрий для каждого квартала:
industry  block_id  industrial    retail   service
0                1    0.000000  0.000000  1.000000
1                6    0.932489  0.067511  0.000000
2                9    0.900648  0.009719  0.089633
3               11    1.000000  0.000000  0.000000
4               16    0.000000  0.133333  0.866667
..             ...         ...       ...       ...
494           2869    0.439394  0.000000  0.560606
495           2875    0.546729  0.000000  0.453271
496           2877    1.000000  0.000000  0.000000
497           2879    1.000000  0.000000  0.000000
498           3000    0.274725  0.000000  0.725275

[499 rows x 4 columns]

In [6]:
blocks_TAZ = gpd.read_file("data/blocks_partly_TAZ.geojson")
blocks_TAZ

,id,area,landuse,geometry
0,1,1.224163e+06,commercial,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,2,1.502047e+06,,"POLYGON ((56.36000 58.03485, 56.35999 58.03486..."
2,3,3.110835e+05,,"POLYGON ((56.36956 58.03529, 56.36956 58.03528..."
3,4,2.325404e+05,,"POLYGON ((56.37105 58.03543, 56.37104 58.03542..."
4,5,2.935132e+05,,"POLYGON ((56.37142 58.03544, 56.37140 58.03544..."
...,...,...,...,...
2871,2880,1.321830e+04,industrial,"POLYGON ((56.15604 57.88224, 56.15602 57.88224..."
2872,2881,1.290221e+05,,"POLYGON ((56.41638 58.15545, 56.41639 58.15545..."
2873,2883,1.227687e+05,,"POLYGON ((56.53509 58.13568, 56.53508 58.13569..."
2874,2884,2.572212e+03,,"POLYGON ((56.51985 58.14921, 56.51985 58.14923..."
2875,3000,3.550764e+06,industrial,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [7]:

# Присоединение данных к геоджейсону
merged_gdf = blocks_TAZ.merge(result_table, how='left', left_on='id', right_on='block_id')

# Вывод результата
print("Объединенный геоджейсон с долями из result_table:")
print(merged_gdf)

Объединенный геоджейсон с долями из result_table:
        id          area     landuse  \
0        1  1.224163e+06  commercial
1        2  1.502047e+06
2        3  3.110835e+05
3        4  2.325404e+05
4        5  2.935132e+05
...    ...           ...         ...
2871  2880  1.321830e+04  industrial
2872  2881  1.290221e+05
2873  2883  1.227687e+05
2874  2884  2.572212e+03
2875  3000  3.550764e+06  industrial

                                               geometry  block_id  industrial  \
0     POLYGON ((56.34764 58.03500, 56.34762 58.03500...       1.0    0.000000
1     POLYGON ((56.36000 58.03485, 56.35999 58.03486...       NaN         NaN
2     POLYGON ((56.36956 58.03529, 56.36956 58.03528...       NaN         NaN
3     POLYGON ((56.37105 58.03543, 56.37104 58.03542...       NaN         NaN
4     POLYGON ((56.37142 58.03544, 56.37140 58.03544...       NaN         NaN
...                                                 ...       ...         ...
2871  POLYGON ((56.15604 57.88224, 56.15602 57.88224...       NaN         NaN
2872  POLYGON ((56.41638 58.15545, 56.41639 58.15545...       NaN         NaN
2873  POLYGON ((56.53509 58.13568, 56.53508 58.13569...       NaN         NaN
2874  POLYGON ((56.51985 58.14921, 56.51985 58.14923...       NaN         NaN
2875  POLYGON ((56.31847 58.03896, 56.31846 58.03897...    3000.0    0.274725

      retail   service
0        0.0  1.000000
1        NaN       NaN
2        NaN       NaN
3        NaN       NaN
4        NaN       NaN
...      ...       ...
2871     NaN       NaN
2872     NaN       NaN
2873     NaN       NaN
2874     NaN       NaN
2875     0.0  0.725275

[2876 rows x 8 columns]

In [8]:
merged_gdf

,id,area,landuse,geometry,block_id,industrial,retail,service
0,1,1.224163e+06,commercial,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,0.000000,0.0,1.000000
1,2,1.502047e+06,,"POLYGON ((56.36000 58.03485, 56.35999 58.03486...",NaN,NaN,NaN,NaN
2,3,3.110835e+05,,"POLYGON ((56.36956 58.03529, 56.36956 58.03528...",NaN,NaN,NaN,NaN
3,4,2.325404e+05,,"POLYGON ((56.37105 58.03543, 56.37104 58.03542...",NaN,NaN,NaN,NaN
4,5,2.935132e+05,,"POLYGON ((56.37142 58.03544, 56.37140 58.03544...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2871,2880,1.321830e+04,industrial,"POLYGON ((56.15604 57.88224, 56.15602 57.88224...",NaN,NaN,NaN,NaN
2872,2881,1.290221e+05,,"POLYGON ((56.41638 58.15545, 56.41639 58.15545...",NaN,NaN,NaN,NaN
2873,2883,1.227687e+05,,"POLYGON ((56.53509 58.13568, 56.53508 58.13569...",NaN,NaN,NaN,NaN
2874,2884,2.572212e+03,,"POLYGON ((56.51985 58.14921, 56.51985 58.14923...",NaN,NaN,NaN,NaN
2875,3000,3.550764e+06,industrial,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,0.274725,0.0,0.725275

In [10]:
# оставляем только кварталы, являющиеся грузогенераторами - те, в которых расположено хотя бы 1 рабочее место
merged_gdf = merged_gdf.dropna(subset=['block_id'])
merged_gdf

,id,area,landuse,geometry,block_id,industrial,retail,service
0,1,1.224163e+06,commercial,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,0.000000,0.000000,1.000000
5,6,3.949440e+07,industrial,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",6.0,0.932489,0.067511,0.000000
8,9,5.817216e+07,industrial,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",9.0,0.900648,0.009719,0.089633
10,11,2.740008e+05,industrial,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",11.0,1.000000,0.000000,0.000000
15,16,2.060076e+05,,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",16.0,0.000000,0.133333,0.866667
...,...,...,...,...,...,...,...,...
2860,2869,3.137001e+05,commercial,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",2869.0,0.439394,0.000000,0.560606
2866,2875,2.419463e+06,industrial,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",2875.0,0.546729,0.000000,0.453271
2868,2877,1.502041e+05,industrial,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",2877.0,1.000000,0.000000,0.000000
2870,2879,1.999429e+05,industrial,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",2879.0,1.000000,0.000000,0.000000
2875,3000,3.550764e+06,industrial,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,0.274725,0.000000,0.725275

In [12]:
merged_gdf = merged_gdf[['id', 'area', 'landuse', 'geometry', 'industrial', 'retail', 'service']]
merged_gdf

,id,area,landuse,geometry,industrial,retail,service
0,1,1.224163e+06,commercial,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",0.000000,0.000000,1.000000
5,6,3.949440e+07,industrial,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",0.932489,0.067511,0.000000
8,9,5.817216e+07,industrial,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",0.900648,0.009719,0.089633
10,11,2.740008e+05,industrial,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",1.000000,0.000000,0.000000
15,16,2.060076e+05,,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",0.000000,0.133333,0.866667
...,...,...,...,...,...,...,...
2860,2869,3.137001e+05,commercial,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",0.439394,0.000000,0.560606
2866,2875,2.419463e+06,industrial,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",0.546729,0.000000,0.453271
2868,2877,1.502041e+05,industrial,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",1.000000,0.000000,0.000000
2870,2879,1.999429e+05,industrial,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",1.000000,0.000000,0.000000
2875,3000,3.550764e+06,industrial,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",0.274725,0.000000,0.725275

In [11]:
merged_gdf.to_file('data/test.geojson', driver='GeoJSON')

In [7]:
blocks_TAZ = gpd.read_file("data/test.geojson")
blocks_TAZ

DriverError: data/test.geojson: No such file or directory

In [5]:
work_buildings = gpd.read_file("data/buildings_with_workers.geojson")
work_buildings

,id,function,is_living,storeys_count,basement_area,block_id,industry,total_area,workers,geometry
0,4669322,yes,False,1,694.450,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57..."
1,79882759,yes,False,1,214.784,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58..."
2,79882837,office,False,2,776.034,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58..."
3,79883190,yes,False,1,189.197,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58..."
4,89185196,industrial,False,1,450.628,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58..."
...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,yes,False,1,1218.829,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57..."
8439,1148104875,yes,False,1,107.470,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57..."
8440,1148419580,office,False,4,624.885,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57..."
8441,1148746841,industrial,False,1,188.391,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57..."
8442,1149034816,industrial,False,1,516.981,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57..."

Считаем суммарную рабочую площадь по каждой зоне

In [9]:
# Группировка данных по block_id и вычисление суммарной площади для каждой зоны
work_area_by_block = work_buildings.groupby('block_id')['total_area'].sum().reset_index()

# Объединение данных с blocks_TAZ по полю id (blocks_TAZ) и block_id (work_area_by_block)
blocks_TAZ1 = blocks_TAZ.merge(work_area_by_block, how='left', left_on='id', right_on='block_id')

# Заполнение NaN значений нулями (если какие-то зоны не имеют рабочих зданий)
blocks_TAZ1['work_area'] = blocks_TAZ1['total_area'].fillna(0)

In [10]:
blocks_TAZ1 = blocks_TAZ1[['id', 'area', 'landuse', 'industrial', 'retail', 'service', 'work_area', 'geometry']]
blocks_TAZ1

,id,area,landuse,industrial,retail,service,work_area,geometry
0,1,1.224163e+06,commercial,0.000000,0.000000,1.000000,4893.620,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,industrial,0.932489,0.067511,0.000000,29031.391,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,industrial,0.900648,0.009719,0.089633,39884.962,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,industrial,1.000000,0.000000,0.000000,539.633,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,,0.000000,0.133333,0.866667,6815.552,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,industrial,0.274725,0.000000,0.725275,8527.540,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

Считаем суммарную жилую площадь по каждой зоне

In [11]:
all_buildings = gpd.read_file("data/all_buildings.geojson")
all_buildings

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry
0,28470,school,False,3,2393.244,NaN,0,0.0,1705,"MULTIPOLYGON (((56.32419 58.03256, 56.32387 58..."
1,28480,school,False,3,2346.316,NaN,0,0.0,31,"MULTIPOLYGON (((56.35565 58.05996, 56.35499 58..."
2,290869,school,False,3,2337.493,NaN,0,0.0,379,"MULTIPOLYGON (((56.16076 57.99611, 56.16087 57..."
3,299980,school,False,3,2377.855,NaN,0,0.0,375,"MULTIPOLYGON (((56.15229 57.99695, 56.15242 57..."
4,300873,school,False,3,2769.566,NaN,0,0.0,371,"MULTIPOLYGON (((56.14174 57.99620, 56.14186 57..."
...,...,...,...,...,...,...,...,...,...,...
62803,1150785208,apartments,True,9,1413.145,12718.0,229,12718.0,31,"MULTIPOLYGON (((56.34214 58.05251, 56.34235 58..."
62804,1150785209,apartments,True,9,1987.830,17890.0,309,17890.0,31,"MULTIPOLYGON (((56.34139 58.05311, 56.34087 58..."
62805,1150785213,construction,True,16,1118.595,17898.0,325,17898.0,31,"MULTIPOLYGON (((56.34648 58.05406, 56.34647 58..."
62806,1150785217,construction,True,16,380.318,6085.0,115,6085.0,31,"MULTIPOLYGON (((56.34690 58.05433, 56.34707 58..."
62807,1150785218,construction,True,16,310.757,4972.0,102,4972.0,31,"MULTIPOLYGON (((56.34859 58.05438, 56.34816 58..."

In [12]:
living_buildings = all_buildings[all_buildings['is_living'] == True]
living_buildings

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry
35,2173828,yes,True,7,2405.573,16839.0,319,16839.0,226,"MULTIPOLYGON (((56.37308 58.11029, 56.37318 58..."
44,2414213,yes,True,3,1342.551,4028.0,73,4028.0,988,"MULTIPOLYGON (((56.28227 57.97740, 56.28220 57..."
52,3436636,yes,True,1,176.517,177.0,8,177.0,423,"MULTIPOLYGON (((56.24230 57.99971, 56.24244 57..."
53,3958429,yes,True,10,1813.652,18137.0,322,18137.0,127,"MULTIPOLYGON (((56.26537 57.99655, 56.26549 57..."
55,3972447,apartments,True,25,2413.605,60340.0,1091,60340.0,127,"MULTIPOLYGON (((56.26673 57.99620, 56.26660 57..."
...,...,...,...,...,...,...,...,...,...,...
62803,1150785208,apartments,True,9,1413.145,12718.0,229,12718.0,31,"MULTIPOLYGON (((56.34214 58.05251, 56.34235 58..."
62804,1150785209,apartments,True,9,1987.830,17890.0,309,17890.0,31,"MULTIPOLYGON (((56.34139 58.05311, 56.34087 58..."
62805,1150785213,construction,True,16,1118.595,17898.0,325,17898.0,31,"MULTIPOLYGON (((56.34648 58.05406, 56.34647 58..."
62806,1150785217,construction,True,16,380.318,6085.0,115,6085.0,31,"MULTIPOLYGON (((56.34690 58.05433, 56.34707 58..."
62807,1150785218,construction,True,16,310.757,4972.0,102,4972.0,31,"MULTIPOLYGON (((56.34859 58.05438, 56.34816 58..."

In [60]:
# Группировка данных по block_id и вычисление суммарной жилой площади для каждой зоны
living_area_by_block = living_buildings.groupby('block_id')['living_area'].sum().reset_index()

# Объединение данных с blocks_TAZ по полю id (blocks_TAZ) и block_id (work_area_by_block)
blocks_TAZ2 = blocks_TAZ1.merge(living_area_by_block, how='left', left_on='id', right_on='block_id')

# Заполнение NaN значений нулями (если какие-то зоны не имеют рабочих зданий)
blocks_TAZ2['living_area'] = blocks_TAZ2['living_area'].fillna(0)
blocks_TAZ2

,id,area,landuse,industrial,retail,service,work_area,geometry,block_id,living_area
0,1,1.224163e+06,commercial,0.000000,0.000000,1.000000,4893.620,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,113243.0
1,6,3.949440e+07,industrial,0.932489,0.067511,0.000000,29031.391,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",6.0,45179.0
2,9,5.817216e+07,industrial,0.900648,0.009719,0.089633,39884.962,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",9.0,304269.0
3,11,2.740008e+05,industrial,1.000000,0.000000,0.000000,539.633,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",11.0,1527.0
4,16,2.060076e+05,,0.000000,0.133333,0.866667,6815.552,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",16.0,79678.0
...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",NaN,0.0
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",2875.0,1284.0
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",NaN,0.0
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",NaN,0.0
498,3000,3.550764e+06,industrial,0.274725,0.000000,0.725275,8527.540,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,46561.0

In [61]:
blocks_TAZ2['landuse'] = np.where(blocks_TAZ2['work_area'] < blocks_TAZ2['living_area'], 'residential', blocks_TAZ2['landuse'])
blocks_TAZ2

,id,area,landuse,industrial,retail,service,work_area,geometry,block_id,living_area
0,1,1.224163e+06,residential,0.000000,0.000000,1.000000,4893.620,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,113243.0
1,6,3.949440e+07,residential,0.932489,0.067511,0.000000,29031.391,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",6.0,45179.0
2,9,5.817216e+07,residential,0.900648,0.009719,0.089633,39884.962,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",9.0,304269.0
3,11,2.740008e+05,residential,1.000000,0.000000,0.000000,539.633,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",11.0,1527.0
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",16.0,79678.0
...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",NaN,0.0
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",2875.0,1284.0
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",NaN,0.0
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",NaN,0.0
498,3000,3.550764e+06,residential,0.274725,0.000000,0.725275,8527.540,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,46561.0

In [62]:
len(blocks_TAZ2[blocks_TAZ2['landuse'] == ''])

61

In [63]:
# Создаем дополнительную переменную, в которую запишем чего больше, коммерческих или промышленных площадей в квартале
blocks_TAZ3 = blocks_TAZ2
blocks_TAZ3['temp'] = np.where(((blocks_TAZ2['service'] + blocks_TAZ2['retail']) > blocks_TAZ2['industrial']), 'commercial', 'industrial')
blocks_TAZ3

,id,area,landuse,industrial,retail,service,work_area,geometry,block_id,living_area,temp
0,1,1.224163e+06,residential,0.000000,0.000000,1.000000,4893.620,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,113243.0,commercial
1,6,3.949440e+07,residential,0.932489,0.067511,0.000000,29031.391,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",6.0,45179.0,industrial
2,9,5.817216e+07,residential,0.900648,0.009719,0.089633,39884.962,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",9.0,304269.0,industrial
3,11,2.740008e+05,residential,1.000000,0.000000,0.000000,539.633,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",11.0,1527.0,industrial
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",16.0,79678.0,commercial
...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",NaN,0.0,commercial
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",2875.0,1284.0,industrial
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",NaN,0.0,industrial
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",NaN,0.0,industrial
498,3000,3.550764e+06,residential,0.274725,0.000000,0.725275,8527.540,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,46561.0,commercial

In [64]:
# Кварталам с незаполненным типом землепользования запишем значение этой временной переменной
blocks_TAZ3['landuse'] = blocks_TAZ3.apply(lambda row: row['temp'] if row['landuse'] == '' else row['landuse'], axis=1)
blocks_TAZ3

,id,area,landuse,industrial,retail,service,work_area,geometry,block_id,living_area,temp
0,1,1.224163e+06,residential,0.000000,0.000000,1.000000,4893.620,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",1.0,113243.0,commercial
1,6,3.949440e+07,residential,0.932489,0.067511,0.000000,29031.391,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",6.0,45179.0,industrial
2,9,5.817216e+07,residential,0.900648,0.009719,0.089633,39884.962,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",9.0,304269.0,industrial
3,11,2.740008e+05,residential,1.000000,0.000000,0.000000,539.633,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",11.0,1527.0,industrial
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",16.0,79678.0,commercial
...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",NaN,0.0,commercial
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",2875.0,1284.0,industrial
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",NaN,0.0,industrial
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",NaN,0.0,industrial
498,3000,3.550764e+06,residential,0.274725,0.000000,0.725275,8527.540,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",3000.0,46561.0,commercial

In [65]:
blocks_TAZ3 = blocks_TAZ3.drop(columns=['temp'])
blocks_TAZ3 = blocks_TAZ3.drop(columns=['block_id'])

In [67]:
blocks_TAZ3.to_file('data/TAZ_with_landuse.geojson', driver='GeoJSON')

Теперь посчитаем коэффициенты доступности каждой зоны к рабочим местам и к населению

In [34]:
zones = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/TAZ_with_landuse.geojson")
buildings_with_workers = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/buildings_with_workers.geojson")
buildings_with_workers

,id,function,is_living,storeys_count,basement_area,block_id,industry,total_area,workers,geometry
0,4669322,yes,False,1,694.450,275,industrial,694.450,41,"MULTIPOLYGON (((56.17115 57.88024, 56.17135 57..."
1,79882759,yes,False,1,214.784,752,industrial,214.784,9,"MULTIPOLYGON (((56.34866 58.10470, 56.34892 58..."
2,79882837,office,False,2,776.034,752,service,1552.068,72,"MULTIPOLYGON (((56.34712 58.08610, 56.34720 58..."
3,79883190,yes,False,1,189.197,752,industrial,189.197,8,"MULTIPOLYGON (((56.34799 58.10467, 56.34834 58..."
4,89185196,industrial,False,1,450.628,943,industrial,450.628,19,"MULTIPOLYGON (((56.12423 58.03430, 56.12452 58..."
...,...,...,...,...,...,...,...,...,...,...
8438,1147821565,yes,False,1,1218.829,649,industrial,1218.829,35,"MULTIPOLYGON (((56.16802 57.91086, 56.16836 57..."
8439,1148104875,yes,False,1,107.470,274,service,107.470,2,"MULTIPOLYGON (((56.13393 57.92601, 56.13408 57..."
8440,1148419580,office,False,4,624.885,276,service,2499.540,67,"MULTIPOLYGON (((56.16355 57.88379, 56.16394 57..."
8441,1148746841,industrial,False,1,188.391,274,industrial,188.391,6,"MULTIPOLYGON (((56.13846 57.90833, 56.13847 57..."
8442,1149034816,industrial,False,1,516.981,275,industrial,516.981,18,"MULTIPOLYGON (((56.15790 57.87906, 56.15796 57..."

In [35]:
# Группируем данные по 'block_id' и считаем сумму рабочих в каждой зоне
grouped_data = buildings_with_workers.groupby('block_id')['workers'].sum().reset_index()

# Обновляем данные в zones
zones = zones.merge(grouped_data, left_on='id', right_on='block_id', how='left', suffixes=('', '_sum'))

# Заполняем пропуски нулями
zones['workers'] = zones['workers'].fillna(0).astype(int)

# Выводим обновленный геодатафрейм zones
print(zones)

       id          area      landuse  industrial    retail   service  \
0       1  1.224163e+06  low_density    0.000000  0.000000  1.000000
1       6  3.949440e+07  low_density    0.932489  0.067511  0.000000
2       9  5.817216e+07  low_density    0.900648  0.009719  0.089633
3      11  2.740008e+05  low_density    1.000000  0.000000  0.000000
4      16  2.060076e+05  residential    0.000000  0.133333  0.866667
..    ...           ...          ...         ...       ...       ...
494  2869  3.137001e+05   commercial    0.439394  0.000000  0.560606
495  2875  2.419463e+06   industrial    0.546729  0.000000  0.453271
496  2877  1.502041e+05   industrial    1.000000  0.000000  0.000000
497  2879  1.999429e+05   industrial    1.000000  0.000000  0.000000
498  3000  3.550764e+06  low_density    0.274725  0.000000  0.725275

     work_area  living_area  \
0     4893.620     113243.0
1    29031.391      45179.0
2    39884.962     304269.0
3      539.633       1527.0
4     6815.552      79678.0
..         ...          ...
494   4756.526          0.0
495   9696.609       1284.0
496   6515.337          0.0
497   4229.398          0.0
498   8527.540      46561.0

                                              geometry  block_id  workers
0    POLYGON ((56.34764 58.03500, 56.34762 58.03500...         1      124
1    POLYGON ((56.34129 58.02780, 56.34127 58.02781...         6      711
2    POLYGON ((56.36243 58.05457, 56.36242 58.05457...         9      926
3    POLYGON ((56.40011 58.04080, 56.40011 58.04081...        11       15
4    POLYGON ((56.20791 58.00293, 56.20789 58.00293...        16      150
..                                                 ...       ...      ...
494  POLYGON ((56.38621 58.14957, 56.38620 58.14958...      2869      132
495  POLYGON ((56.36681 58.12208, 56.36681 58.12208...      2875      214
496  POLYGON ((56.28264 58.02905, 56.28262 58.02904...      2877      158
497  POLYGON ((56.15650 57.88209, 56.15648 57.88209...      2879       94
498  POLYGON ((56.31847 58.03896, 56.31846 58.03897...      3000      182

[499 rows x 11 columns]

In [36]:
zones['workers'].sum()

419280

In [37]:
all_buildings = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/all_buildings.geojson")
living_buildings = all_buildings[all_buildings['is_living'] == True]
living_buildings

,id,function,is_living,storeys_count,basement_area,total_area,population,living_area,block_id,geometry
35,2173828,yes,True,7,2405.573,16839.0,319,16839.0,226,"MULTIPOLYGON (((56.37308 58.11029, 56.37318 58..."
44,2414213,yes,True,3,1342.551,4028.0,73,4028.0,988,"MULTIPOLYGON (((56.28227 57.97740, 56.28220 57..."
52,3436636,yes,True,1,176.517,177.0,8,177.0,423,"MULTIPOLYGON (((56.24230 57.99971, 56.24244 57..."
53,3958429,yes,True,10,1813.652,18137.0,322,18137.0,127,"MULTIPOLYGON (((56.26537 57.99655, 56.26549 57..."
55,3972447,apartments,True,25,2413.605,60340.0,1091,60340.0,127,"MULTIPOLYGON (((56.26673 57.99620, 56.26660 57..."
...,...,...,...,...,...,...,...,...,...,...
62803,1150785208,apartments,True,9,1413.145,12718.0,229,12718.0,31,"MULTIPOLYGON (((56.34214 58.05251, 56.34235 58..."
62804,1150785209,apartments,True,9,1987.830,17890.0,309,17890.0,31,"MULTIPOLYGON (((56.34139 58.05311, 56.34087 58..."
62805,1150785213,construction,True,16,1118.595,17898.0,325,17898.0,31,"MULTIPOLYGON (((56.34648 58.05406, 56.34647 58..."
62806,1150785217,construction,True,16,380.318,6085.0,115,6085.0,31,"MULTIPOLYGON (((56.34690 58.05433, 56.34707 58..."
62807,1150785218,construction,True,16,310.757,4972.0,102,4972.0,31,"MULTIPOLYGON (((56.34859 58.05438, 56.34816 58..."

In [38]:
# Группируем данные по 'block_id' и считаем сумму жителей в каждой зоне
grouped_data = living_buildings.groupby('block_id')['population'].sum().reset_index()

# Обновляем данные в zones
zones = zones.merge(grouped_data, left_on='id', right_on='block_id', how='left', suffixes=('', '_sum'))

In [39]:
# Заполняем пропуски нулями
zones['population'] = zones['population'].fillna(0).astype(int)

# Выводим обновленный геодатафрейм zones
print(zones)

       id          area      landuse  industrial    retail   service  \
0       1  1.224163e+06  low_density    0.000000  0.000000  1.000000
1       6  3.949440e+07  low_density    0.932489  0.067511  0.000000
2       9  5.817216e+07  low_density    0.900648  0.009719  0.089633
3      11  2.740008e+05  low_density    1.000000  0.000000  0.000000
4      16  2.060076e+05  residential    0.000000  0.133333  0.866667
..    ...           ...          ...         ...       ...       ...
494  2869  3.137001e+05   commercial    0.439394  0.000000  0.560606
495  2875  2.419463e+06   industrial    0.546729  0.000000  0.453271
496  2877  1.502041e+05   industrial    1.000000  0.000000  0.000000
497  2879  1.999429e+05   industrial    1.000000  0.000000  0.000000
498  3000  3.550764e+06  low_density    0.274725  0.000000  0.725275

     work_area  living_area  \
0     4893.620     113243.0
1    29031.391      45179.0
2    39884.962     304269.0
3      539.633       1527.0
4     6815.552      79678.0
..         ...          ...
494   4756.526          0.0
495   9696.609       1284.0
496   6515.337          0.0
497   4229.398          0.0
498   8527.540      46561.0

                                              geometry  block_id  workers  \
0    POLYGON ((56.34764 58.03500, 56.34762 58.03500...         1      124
1    POLYGON ((56.34129 58.02780, 56.34127 58.02781...         6      711
2    POLYGON ((56.36243 58.05457, 56.36242 58.05457...         9      926
3    POLYGON ((56.40011 58.04080, 56.40011 58.04081...        11       15
4    POLYGON ((56.20791 58.00293, 56.20789 58.00293...        16      150
..                                                 ...       ...      ...
494  POLYGON ((56.38621 58.14957, 56.38620 58.14958...      2869      132
495  POLYGON ((56.36681 58.12208, 56.36681 58.12208...      2875      214
496  POLYGON ((56.28264 58.02905, 56.28262 58.02904...      2877      158
497  POLYGON ((56.15650 57.88209, 56.15648 57.88209...      2879       94
498  POLYGON ((56.31847 58.03896, 56.31846 58.03897...      3000      182

     block_id_sum  population
0             1.0        2211
1             6.0         898
2             9.0        6476
3            11.0          20
4            16.0        1340
..            ...         ...
494           NaN           0
495        2875.0          24
496           NaN           0
497           NaN           0
498        3000.0         911

[499 rows x 13 columns]

In [40]:
zones = zones[['id', 'area', 'landuse', 'industrial', 'retail', 'service', 'work_area', 'living_area', 'workers', 'population', 'geometry']]
zones

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [42]:
zones.to_file('data/testzones1.geojson', driver='GeoJSON')

Посчитаем коэффициенты доступности

In [2]:
zones = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/testzones1.geojson")

In [3]:
# Загрузка матрицы расстояний из CSV файла
distances = pd.read_csv('data/TAZ_distance_matrix.csv', index_col=0)
distances = distances.replace(0, 1)

In [4]:
zones.set_index('id', inplace=True)

In [5]:
# вычисление доступности населения для каждой зоны
zones['population_availability'] = 0.0
for index, zone in zones.iterrows():
    coef = 0.0
    zone_distances = distances.loc[index]
    
    for column, distance in zone_distances.items():
        if index == column:
            continue
        coef += (zones.loc[int(column), 'population'] / distance)
    zones.loc[index, 'population_availability'] = coef

In [6]:
# вычисление доступности рабочих мест для каждой зоны
zones['workers_availability'] = 0.0
for index, zone in zones.iterrows():
    coef = 0.0
    zone_distances = distances.loc[index]
    
    for column, distance in zone_distances.items():
        if index == column:
            continue
        coef += (zones.loc[int(column), 'workers'] / distance)
    zones.loc[index, 'workers_availability'] = coef

In [7]:
zones

,area,landuse,industrial,retail,service,work_area,living_area,workers,population,geometry,population_availability,workers_availability
id,,,,,,,,,,,,
1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,"POLYGON ((56.34764 58.03500, 56.34762 58.03500...",76.588172,35.953808
6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,"POLYGON ((56.34129 58.02780, 56.34127 58.02781...",59.992692,30.375010
9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,"POLYGON ((56.36243 58.05457, 56.36242 58.05457...",54.628613,28.182628
11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,"POLYGON ((56.40011 58.04080, 56.40011 58.04081...",56.377235,28.926896
16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,"POLYGON ((56.20791 58.00293, 56.20789 58.00293...",172.790236,79.292379
...,...,...,...,...,...,...,...,...,...,...,...,...
2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,"POLYGON ((56.38621 58.14957, 56.38620 58.14958...",38.929160,21.571072
2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,"POLYGON ((56.36681 58.12208, 56.36681 58.12208...",45.831944,24.601994
2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,"POLYGON ((56.28264 58.02905, 56.28262 58.02904...",112.926958,211.733180
2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,"POLYGON ((56.15650 57.88209, 56.15648 57.88209...",33.149738,117.367989
3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,"POLYGON ((56.31847 58.03896, 56.31846 58.03897...",82.146441,38.598313

In [8]:
zones.to_file('data/testzones2.geojson', driver='GeoJSON')

Нормализуем значения коэффициентов доступности

In [7]:
zones = gpd.read_file("C:/Users/sm_pa/OneDrive/Рабочий стол/НИР3/perm_freight_modelling/data/testzones2.geojson")
zones

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,population_availability,workers_availability,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,76.588172,35.953808,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,59.992692,30.375010,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,54.628613,28.182628,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,56.377235,28.926896,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,172.790236,79.292379,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,38.929160,21.571072,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,45.831944,24.601994,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,112.926958,211.733180,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,33.149738,117.367989,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,82.146441,38.598313,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [5]:
from scipy import stats

In [8]:
zones['population_availability'] = zones['population_availability'].clip(lower=1)
zones['workers_availability'] = zones['workers_availability'].clip(lower=1)

# Применяем преобразование Бокса-Кокса
zones['population_availability_normalized'], _ = stats.boxcox(zones['population_availability'])
zones['workers_availability_normalized'], _ = stats.boxcox(zones['workers_availability'])

In [12]:
zones['population_availability'] = zones['population_availability_normalized']
zones['workers_availability'] = zones['workers_availability_normalized']

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [14]:
zones = zones.drop('population_availability_normalized', axis=1)
zones = zones.drop('workers_availability_normalized', axis=1)
zones

,id,area,landuse,industrial,retail,service,work_area,living_area,workers,population,population_availability,workers_availability,geometry
0,1,1.224163e+06,low_density,0.000000,0.000000,1.000000,4893.620,113243.0,124,2211,5.241083,2.463974,"POLYGON ((56.34764 58.03500, 56.34762 58.03500..."
1,6,3.949440e+07,low_density,0.932489,0.067511,0.000000,29031.391,45179.0,711,898,4.892252,2.386894,"POLYGON ((56.34129 58.02780, 56.34127 58.02781..."
2,9,5.817216e+07,low_density,0.900648,0.009719,0.089633,39884.962,304269.0,926,6476,4.760366,2.351703,"POLYGON ((56.36243 58.05457, 56.36242 58.05457..."
3,11,2.740008e+05,low_density,1.000000,0.000000,0.000000,539.633,1527.0,15,20,4.804614,2.364015,"POLYGON ((56.40011 58.04080, 56.40011 58.04081..."
4,16,2.060076e+05,residential,0.000000,0.133333,0.866667,6815.552,79678.0,150,1340,6.456608,2.789124,"POLYGON ((56.20791 58.00293, 56.20789 58.00293..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,2869,3.137001e+05,commercial,0.439394,0.000000,0.560606,4756.526,0.0,132,0,4.291921,2.221195,"POLYGON ((56.38621 58.14957, 56.38620 58.14958..."
495,2875,2.419463e+06,industrial,0.546729,0.000000,0.453271,9696.609,1284.0,214,24,4.515939,2.286350,"POLYGON ((56.36681 58.12208, 56.36681 58.12208..."
496,2877,1.502041e+05,industrial,1.000000,0.000000,0.000000,6515.337,0.0,158,0,5.810754,3.120476,"POLYGON ((56.28264 58.02905, 56.28262 58.02904..."
497,2879,1.999429e+05,industrial,1.000000,0.000000,0.000000,4229.398,0.0,94,0,4.074374,2.930219,"POLYGON ((56.15650 57.88209, 56.15648 57.88209..."
498,3000,3.550764e+06,low_density,0.274725,0.000000,0.725275,8527.540,46561.0,182,911,5.342491,2.495559,"POLYGON ((56.31847 58.03896, 56.31846 58.03897..."

In [16]:
zones.to_file('data/TAZ_final.geojson', driver='GeoJSON')